<app-content-box headerText="Coming Up!">
  <p-scrollPanel styleClass="coming-up-scroll">
    <article class="fz-31 text-white">
      <header>You're a VIP member and always get 20% on every deposit!</header>
      <p>Friday 27.05.2022 (times in CET)</p>
    </article>
    <article class="fz-31 text-white">
      <header>Daily bonuses for VIP 5+</header>
      <p>12-13 MIDDAY MADNESS - 100% BONUS on ALL deposits 19-21 DINNER</p>
      <p>PARTY - 100% BONUS on your first deposit</p>
    </article>
    <article class="fz-31 text-white">
      <header>Daily bonuses for VIP 5+</header>
      <p>12-13 MIDDAY MADNESS - 100% BONUS on ALL deposits 19-21 DINNER</p>
      <p>PARTY - 100% BONUS on your first deposit</p>
    </article>
  </p-scrollPanel>
</app-content-box>
