<app-content-box class="content-box" title="Transaction History">
  <div class="fz-24">
    <div class="row justify-content-center">
      <div class="col-8">
        <form [formGroup]="searchTransactionsForm">
          <div class="row mb-4">
            <div class="col-auto">
              <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="credits"> Credits </mat-option>
                  <mat-option value="debits"> Debits </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-auto">
              <mat-form-field appearance="fill" class="d-block">
                <mat-label>Start Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="startDatePicker"
                  formControlName="startdate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="startDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-auto">
              <mat-form-field appearance="fill" class="d-block">
                <mat-label>End Date</mat-label>
                <input
                  matInput
                  [matDatepicker]="endDatePicker"
                  formControlName="enddate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="endDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-auto">
              <button
                type="button"
                class="btn-clear btn-main py-1 mx-2 min-w-auto btn-field"
              >
                <span class="btn-main-text">Go</span>
              </button>
            </div>
          </div>
        </form>

        <hr class="hr" />

        No Transaction Data
      </div>
    </div>
  </div>
</app-content-box>
