@import "../functions/calc-clamp";
@import "../mixins/btn-clear";
@import "../vendors/hovercss";
@import "/node_modules/hover.css/scss/effects/2d-transitions/forward";
@import "/node_modules/hover.css/scss/effects/2d-transitions/backward";
@import "/node_modules/hover.css/scss/effects/background-transitions/fade";
@import "../../assets/fonts/bens-bingo-iconfont-v1.0/variables";

.carousel-new-games {
  .owl-carousel .owl-item img {
    display: unset;
    width: inherit;
  }
  .owl-prev,
  .owl-next {
    visibility: hidden;
  }
  .owl-next {
    right: 130px;
  }
  .owl-prev {
    left: 10px;
  }
  &:hover {
    .owl-prev,
    .owl-next {
      visibility: visible;
    }
  }
}

.owl-prev {
  @include backward();
  left: 20px;
  &::before {
    content: $icon-chevron-left;
  }
}
.owl-next {
  @include forward();
  right: 20px;
  &::before {
    content: $icon-chevron-right;
  }
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-family: $icomoon-font-family;
  font-size: 40px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  background-size: contain;
}

.owl-dots {
  position: absolute;
  right: 0;
  bottom: calc-clamp(140);
  left: 0;
  display: flex;
  justify-content: center;
  .owl-dot {
    width: calc-clamp(10);
    height: calc-clamp(10);
    margin: 0 calc-clamp(5);
    background-color: #fff;
    border-radius: 50%;
    &:first-child {
      margin-inline-start: 0;
    }
    &:last-child {
      margin-inline-end: 0;
    }
    &.active {
      background-color: #401784;
      border: calc-clamp(1) solid #fff;
    }
  }
}

.carousel-games {
  .owl-carousel {
    .owl-stage-outer {
      overflow: unset;
    }
    .owl-nav {
      bottom: calc-clamp(-50);
    }
  }
}
