@import "../../../../styles/functions/calc-clamp";
:host {
  position: relative;
  z-index: 1;
  display: block;
}
.top-bar {
  min-height: calc-clamp(39);
  padding: calc-clamp(3) calc-clamp(48);
  line-height: 1;
  background: #401784;
  background: linear-gradient(
    to right,
    #401784 16%,
    #652ac5 51%,
    #431888 79%,
    #5321a4 100%
  );
  &-username {
    // margin-top: calc-clamp(-2);
    // margin-bottom: calc-clamp(5);
    padding-bottom: calc-clamp(6);
    font-size: calc-clamp(27);
    line-height: 1;
  }
}

.header {
  padding: 0 calc-clamp(24);
  line-height: 1.389;
  background: #401784;
  background: linear-gradient(148deg, #401784 22%, #652ac5 61%);
  &-logo {
    padding-inline-start: calc-clamp(48);
    padding-inline-end: calc-clamp(140);
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(72);
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
}
