<div class="top-bar d-flex justify-content-end align-items-center">
  <ng-container *ngIf="isUserLoggedIn$ | async">
    <ng-container *ngIf="this.getUserInfo$ | async as userInfo">
      <div class="fz-18 pb-1">
        {{ userInfo?.balance?.total | currency: userInfo?.currency?.code }}
        <a routerLink="/cashier" class="mx-2">Cashier</a>
        <a href="">Bonuses</a>
      </div>
      <div class="top-bar-username text-white ms-3">{{ userInfo.alias }}</div>
    </ng-container>
  </ng-container>
</div>
<div class="d-flex">
  <div>
    <div class="header d-flex align-items-center">
      <app-language-selector></app-language-selector>
      <a class="header-logo flex-fill" routerLink="/" alt="BEN's Bingo"
        >BEN's Bingo</a
      >
      <app-login-button class="align-self-stretch d-flex"></app-login-button>
    </div>
  </div>
</div>
