<app-sub-navigation
  class="sub-navigation"
  [navigationLinks]="navigationLinks"
></app-sub-navigation>

<app-casino-game-category-header
  [title]="gameCategoriesNames[gameCategory]"
  [gameCategory]="gameCategory"
></app-casino-game-category-header>

<ng-container *ngIf="getCategoryGames$ | async as games">
  <app-slots-games
    [games]="games.items"
    [showInCarousel]="false"
    [paginatorLength]="games.totalItems"
    [paginatorPageSize]="games.itemsPerPage"
    [paginatorPageIndex]="games.pageIndex - 1"
    (page)="pageChanged($event)"
  ></app-slots-games>
</ng-container>

<app-slots-games
  *ngIf="gameCategories['all-slots'] !== gameCategory"
  [headerText]="gameCategoriesNames['all-slots']"
  [games]="getAllGames$ | async"
  [category]="gameCategories['all-slots']"
></app-slots-games>
