<!--  -->
<div class="row mb-5" *ngIf="getSearchUserResult$ | async as searchUserResult">
  <div
    class="col-4"
    [ngClass]="{
      'col-8': !searchUserResult.alias,
      'col-4': searchUserResult.alias
    }"
  >
    <app-content-box
      class="content-box content-box-search w-100"
      headerText="Buddy Search"
    >
      <form [formGroup]="searchFriendForm" (ngSubmit)="searchUser()">
        <div class="row fz-24">
          <div class="col-8">
            <mat-form-field class="d-block" appearance="fill">
              <mat-label>Buddy Name</mat-label>
              <input matInput formControlName="search" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <button class="btn-clear btn-main btn-field py-1 mx-2 min-w-auto">
              <span class="btn-main-text">Find</span>
            </button>
          </div>
        </div>
      </form>
    </app-content-box>
  </div>
  <div class="col-4 animated bounceIn" *ngIf="searchUserResult.alias">
    <app-content-box
      class="content-box content-box-result w-100"
      headerText="Search Results"
    >
      <div class="row">
        <div class="col-2">
          <img
            src="/assets/images/site-icons/user-icon.svg"
            class="w-100 d-block"
            alt="user"
          />
        </div>
        <div class="col-auto">
          <div class="fz-24 mb-3">{{ searchUserResult.alias }}</div>

          <button
            type="button"
            class="btn-clear btn-main btn-sm py-1 mx-2"
            (click)="addFriend(searchUserResult.alias)"
          >
            <span class="btn-main-text">Add to friends</span>
          </button>
        </div>
      </div>
    </app-content-box>
  </div>
  <div class="col-4">
    <app-content-box
      class="content-box content-box-count hovercss-float-shadow"
      headerText="Buddy Count"
    >
      <div class="fz-45 fw-bold" *ngIf="getFriends$ | async as friendsList">
        {{ friendsList.data.length | number: "2.0-0" }}
      </div>
    </app-content-box>
  </div>
</div>

<app-content-box headerText="Buddies" [isFluid]="true" class="mb-5">
  <ng-container *ngIf="getFriends$ | async as friendsList">
    <table
      mat-table
      aria-describedby="aa"
      [dataSource]="friendsList"
      class="mat-elevation-z8 w-100"
      [fixedLayout]="true"
      *ngIf="friendsList.data.length; else noFriends"
    >
      <!-- username alias -->
      <ng-container matColumnDef="alias">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>Username</th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          <button
            class="btn btn-link fz-24 px-0 text-white"
            (click)="showUserProfile(element.alias)"
          >
            {{ element.alias }}
          </button>
        </td>
      </ng-container>

      <!-- username online -->
      <ng-container matColumnDef="online">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>Online</th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.online"> YES </ng-container>
          <ng-container *ngIf="!element.online"> NO </ng-container>
        </td>
      </ng-container>

      <!-- username currentLocation -->
      <ng-container matColumnDef="currentLocation">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>
          Current Location
        </th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- username action -->
      <ng-container matColumnDef="action">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>Action</th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          <button
            class="btn-clear btn-main btn-sm"
            (click)="removeFriend(element.alias)"
          >
            <span class="btn-main-text">Remove</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-template #noFriends>
      <span class="fz-22">No friends</span>
    </ng-template>
  </ng-container>
</app-content-box>

<app-content-box headerText="Pending Buddies" [isFluid]="true" class="mb-5">
  <ng-container *ngIf="getPendingFriends$ | async as pendingFriends">
    <table
      mat-table
      aria-describedby="aa"
      [dataSource]="pendingFriends"
      class="mat-elevation-z8 w-100"
      [fixedLayout]="true"
      *ngIf="pendingFriends.data.length; else noPendingFriends"
    >
      <!-- *ngIf="showTable; else noResults" -->

      <!-- username Column -->
      <ng-container matColumnDef="alias">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>Username</th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          <button
            class="btn btn-link fz-24 px-0 text-white"
            (click)="showUserProfile(element.alias)"
          >
            {{ element.alias }}
          </button>
        </td>
      </ng-container>

      <!-- username Column -->
      <ng-container matColumnDef="online">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>Online</th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.online"> YES </ng-container>
          <ng-container *ngIf="!element.online"> NO </ng-container>
        </td>
      </ng-container>

      <!-- username Column -->
      <ng-container matColumnDef="currentLocation">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>
          Current Location
        </th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          {{ element.id }}
        </td>
      </ng-container>

      <!-- username Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell class="fz-24" *matHeaderCellDef>Action</th>
        <td class="fz-24" mat-cell *matCellDef="let element">
          <button class="btn-clear btn-main btn-sm">
            <span class="btn-main-text">Approve</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <ng-template #noPendingFriends>
      <span class="fz-22">No pending friends</span>
    </ng-template>
  </ng-container>
</app-content-box>

<div #outgoingFriendsRequest>
  <app-content-box headerText="Outgoing Pending Buddies" [isFluid]="true">
    <ng-container
      *ngIf="
        getPendingOutgoingFriendsRequest$
          | async as pendingOutgoingFriendsRequest
      "
    >
      <table
        mat-table
        aria-describedby="aa"
        [dataSource]="pendingOutgoingFriendsRequest"
        class="mat-elevation-z8 w-100"
        [fixedLayout]="true"
        *ngIf="
          pendingOutgoingFriendsRequest.data.length;
          else noPendingOutgoingFriendsRequest
        "
      >
        <!-- *ngIf="showTable; else noResults" -->

        <!-- username Column -->
        <ng-container matColumnDef="alias">
          <th mat-header-cell class="fz-24" *matHeaderCellDef>Username</th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            <button
              class="btn btn-link fz-24 px-0 text-white"
              (click)="showUserProfile(element.alias)"
            >
              {{ element.alias }}
            </button>
          </td>
        </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="online">
          <th mat-header-cell class="fz-24" *matHeaderCellDef>Online</th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.online"> YES </ng-container>
            <ng-container *ngIf="!element.online"> NO </ng-container>
          </td>
        </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="currentLocation">
          <th mat-header-cell class="fz-24" *matHeaderCellDef>
            Current Location
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.id }}
          </td>
        </ng-container>

        <!-- username Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell class="fz-24" *matHeaderCellDef>Action</th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            <button
              class="btn-clear btn-main btn-sm"
              (click)="cancelOutgoingFriendRequest(element.alias)"
            >
              <span class="btn-main-text">Remove</span>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <ng-template #noPendingOutgoingFriendsRequest>
        <span class="fz-22">No pending friends</span>
      </ng-template>
    </ng-container>
  </app-content-box>
</div>
