@import "../../../../styles/functions/calc-clamp";

.header-top {
  padding-bottom: calc-clamp(200);
  background: url("/assets/images/header-bg.webp") no-repeat 0 0;
  background-size: cover;
}

.bingo-games {
  display: block;
  margin-bottom: calc-clamp(166);
}

.bens-bingo-ads {
  position: relative;
  min-height: calc-clamp(226);
  background: url("/assets/images/bg-with-mask-2/bg-with-mask-2.webp") no-repeat
    center 0;

  &-text {
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(72);
    font-weight: 700;
    color: #fff;
  }
  &-stones {
    position: absolute;
    top: calc-clamp(-130);
    right: calc-clamp(-120);
    width: calc-clamp(439);
  }
}

// :host ::ng-deep {

// }
