<div class="header-top position-relative">
  <app-new-games [games]="getNewGames$ | async"></app-new-games>
  <app-coming-up></app-coming-up>
  <app-header-character></app-header-character>
</div>

<app-bingo-games
  [games]="$any(getBingoGames$ | async)"
  class="bingo-games"
></app-bingo-games>

<div class="row align-items-start bg-jackpot-winners">
  <div class="col-6">
    <div class="box-jackpots flex-fill">
      <app-jackpot></app-jackpot>
    </div>
  </div>
  <div class="col-6">
    <div class="box-winners flex-fill">
      <app-recent-winners></app-recent-winners>
    </div>
  </div>
</div>

<app-slots-games
  headerText="Hot Slots!"
  [games]="$any(getSlotsGames$ | async)"
></app-slots-games>

<div class="bens-bingo-ads d-flex justify-content-center align-items-center">
  <div class="bens-bingo-ads-text">BEN’s Bingo</div>
  <div class="bens-bingo-gems" #parallaxScene>
    <div class="bens-bingo-gems-green">
      <img
        data-depth="1"
        src="/assets/images/gems/gem-green-2.webp"
        srcset="
          /assets/images/gems/gem-green-2@2x.webp 2x,
          /assets/images/gems/gem-green-2@3x.webp 3x
        "
        class="parallax-layer d-block w-100"
        alt="stones"
      />
    </div>
    <div class="bens-bingo-gems-blue">
      <img
        data-depth="0.6"
        src="/assets/images/gems/gem-blue-2.webp"
        srcset="
          /assets/images/gems/gem-blue-2@2x.webp 2x,
          /assets/images/gems/gem-blue-2@3x.webp 3x
        "
        class="parallax-layer d-block w-100"
        alt="stones"
      />
    </div>
    <div class="bens-bingo-gems-red">
      <img
        data-depth="0.8"
        src="/assets/images/gems/gem-red-2.webp"
        srcset="
          /assets/images/gems/gem-red-2@2x.webp 2x,
          /assets/images/gems/gem-red-2@3x.webp 3x
        "
        class="parallax-layer d-block w-100"
        alt="stones"
      />
    </div>
    <div class="bens-bingo-gems-purple">
      <img
        data-depth="1.2"
        src="/assets/images/gems/gem-purple-2.webp"
        srcset="
          /assets/images/gems/gem-purple-2@2x.webp 2x,
          /assets/images/gems/gem-purple-2@3x.webp 3x
        "
        class="parallax-layer d-block w-100"
        alt="stones"
      />
    </div>
  </div>
</div>
