<div class="header-top position-relative">
  <app-new-games></app-new-games>
  <app-coming-up></app-coming-up>
  <app-header-character></app-header-character>
</div>
<app-bingo-games
  [games]="$any(getBingoGames$ | async)"
  class="bingo-games"
></app-bingo-games>
<app-jackpot-winners
  [jackpots]="$any(getJackpots$ | async)"
  [recentWinners]="$any(getRecentWinners$ | async)"
></app-jackpot-winners>
<app-slots-games [games]="$any(getSlotsGames$ | async)"></app-slots-games>

<div class="bens-bingo-ads d-flex justify-content-center align-items-center">
  <div class="bens-bingo-ads-text">BEN’s Bingo</div>
  <img
    src="/assets/images/stones/stones.webp"
    srcset="
      /assets/images/stones/stones@2x.webp 2x,
      /assets/images/stones/stones@3x.webp 3x
    "
    class="bens-bingo-ads-stones"
    alt="stones"
  />
</div>
