@import "../../../../styles/functions/calc-clamp";

.header-top {
  padding-top: calc-clamp(147);
  padding-bottom: calc-clamp(200);
  margin-top: calc-clamp(-147);
  background: url("/assets/images/header-bg.webp") no-repeat 0 0;
  background-size: cover;
}

.bingo-games {
  display: block;
  margin-bottom: calc-clamp(166);
}

.bens-bingo {
  &-ads {
    position: relative;
    min-height: calc-clamp(226);
    background: url("/assets/images/bg-with-mask-2/bg-with-mask-2.webp")
      no-repeat center 0;

    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(72);
      font-weight: 700;
      color: #fff;
    }
  }
  &-gems {
    position: absolute;
    top: calc-clamp(-150);
    right: calc-clamp(-110);
    z-index: 9;
    width: calc-clamp(435);
    height: calc-clamp(445);
  }
  &-gems-green {
    position: absolute;
    left: calc-clamp(100);
    width: calc-clamp(335);
  }
  &-gems-blue {
    position: absolute;
    top: calc-clamp(110);
    left: calc-clamp(0);
    width: calc-clamp(86);
  }
  &-gems-red {
    position: absolute;
    top: calc-clamp(180);
    left: calc-clamp(85);
    width: calc-clamp(153);
  }
  &-gems-purple {
    position: absolute;
    top: calc-clamp(310);
    left: calc-clamp(240);
    width: calc-clamp(70);
  }
}

.box {
  &-jackpots {
    margin-inline-start: calc-clamp(-25);
    margin-inline-end: calc-clamp(16);
    margin-top: calc-clamp(-75);
  }
  &-winners {
    margin-inline-start: calc-clamp(16);
    margin-inline-end: calc-clamp(-35);
    margin-top: calc-clamp(-165);
    margin-bottom: calc-clamp(40);
  }
}

.bg-jackpot-winners {
  padding-bottom: calc-clamp(130);
  background: url("/assets/images/bg-with-mask/bg-with-mask.webp") no-repeat 0
    center;
  background-size: cover;
}

::ng-deep {
  .main-navigation {
    width: calc-clamp(1568);
  }
}
