@import "../../../../styles/functions/calc-clamp";
@import "../../../../styles/mixins/btn-clear";

$arrow-left: "data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyIiB3aWR0aD0iOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgICA8cGF0aCBkPSJNNy45IDEuNCA2LjUgMGwtNiA2IDYgNiAxLjQtMS40TDMuMyA2bDQuNi00LjZaIiBmaWxsPSIjMGQ4MDhhIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIC8+DQo8L3N2Zz4=" !default;
$arrow-right: "data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEyIiB3aWR0aD0iOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS41IDAgLjEgMS40IDQuNyA2IC4xIDEwLjYgMS41IDEybDYtNi02LTZaIiBmaWxsPSIjMGQ4MDhhIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=" !default;

.header-top {
  padding-bottom: calc-clamp(200);
  background: url("/assets/images/header-bg.webp") no-repeat 0 0;
  background-size: cover;
}

.bingo-games {
  display: block;
  margin-bottom: calc-clamp(166);
}

:host ::ng-deep {
  .p-carousel-items-content,
  .p-carousel-content {
    overflow: unset;
  }
  .p-carousel-container {
    position: relative;
    display: block;
  }
  .p-carousel-prev,
  .p-carousel-next {
    @include btn-clear();
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9;
    width: calc-clamp(35);
  }
  .p-carousel-prev {
    left: 0;
    background: rgba(#000, 0.6) url($arrow-left) center no-repeat;
    background-size: 70%;
  }
  .p-carousel-next {
    right: 0;
    background: rgba(#000, 0.6) url($arrow-right) center no-repeat;
    background-size: 70%;
  }
}
