{
  "extends": ["stylelint-config-twbs-bootstrap", "stylelint-config-prettier"],
  "rules": {
    "declaration-property-value-disallowed-list": {
      "border": "none",
      "outline": "none"
    },
    "function-disallowed-list": ["calc", "lighten", "darken"],
    "property-disallowed-list": ["transition"],
    "scss/dollar-variable-default": [
      true,
      {
        "ignore": "local"
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      { "ignorePseudoElements": ["ng-deep"] }
    ]
  }
}
