<div class="container-page">
  <app-content-box headerText="FAQ" [isFluid]="true">
    <div class="row justify-content-center">
      <div class="col-8" *ngIf="getFaqContent$ | async as faq">
        <div [outerHTML]="faq"></div>
      </div>
      <div class="col-8">
        <div class="fz-24">
          <h3 class="fw-bold fz-31">How do I deposit</h3>
          Click the "Deposit" button in the upper right corner or here. All
          deposits at BensBingo are carried out encrypted for your security.
          <hr class="hr my-4" />
          <h3 class="fw-bold fz-31">How do I win?</h3>
          Please see our "How To Play" instructions here!
          <hr class="hr my-4" />
          <h3 class="fw-bold fz-31">Support, where can I find that?</h3>
          Click here so we can help you out via e-mail, internal support system
          or via phone!
          <hr class="hr my-4" />
          <h3 class="fw-bold fz-31">How do I retrieve money I have won?</h3>
          Money held or won can be retrieved by clicking the "Cashout" button in
          the upper right corner or click here!
          <hr class="hr my-4" />
          <h3 class="fw-bold fz-31">Is BensBingo secure?</h3>
          Yes! BensBingo, takes your security very seriously. You can rest
          assured we offer you a very secure system. Click here for more
          information!
          <hr class="hr my-4" />
          <h3 class="fw-bold fz-31">Who is behind BensBingo?</h3>
          You can read more about BensBingo and Innovus N.V. here!
          <hr class="hr my-4" />
          <h3 class="fw-bold fz-31">How does your gaming license work?</h3>
          BensBingo, and Innovus N.V., holds and offers its service via an
          international gaming license by contractual cooperation with
          Functional Games P.L.B. Please make sure that you are familliar with
          our Terms And Condtions. Click here for more information!
        </div>
      </div>
    </div>
  </app-content-box>
</div>
