<app-sub-navigation [navigationLinks]="navigationLinks"></app-sub-navigation>
<app-casino-new-games
  class="casino-new-games"
  [newGames]="getNewReleasesGames$ | async"
></app-casino-new-games>

<app-slots-games
  class="slots-games"
  title="Hot Slots"
  [games]="getHotSlotsGames$ | async"
></app-slots-games>

<div class="bg-new-releases">
  <app-slots-games
    class="slots-games"
    title="New Releases"
    [games]="getNewReleasesGames$ | async"
    [category]="slotsCategories['new-releases']"
  ></app-slots-games>
</div>

<div class="bg-jackpot">
  <app-slots-games
    title="Jackpot Games"
    [games]="getJackpotGames$ | async"
    [category]="slotsCategories['jackpot-games']"
  ></app-slots-games>
</div>
