@import "../../../../styles/functions/calc-clamp";

.sub-navigation {
  position: relative;
  z-index: 1;
}
.casino-new-games {
  position: relative;
  display: block;
  margin-top: calc-clamp(-93);
}
