<app-sub-navigation [navigationLinks]="navigationLinks"></app-sub-navigation>
<app-casino-new-games class="casino-new-games"></app-casino-new-games>
<!-- [newGames]="getNewGames$ | async" -->

<app-slots-games
  class="slots-games"
  headerText="Hot Slots"
  [games]="getHotSlotsGames$ | async"
></app-slots-games>

<div class="bg-new-releases">
  <app-slots-games
    class="slots-games"
    headerText="New Releases"
    [games]="getNewReleasesGames$ | async"
    [category]="slotsCategories['new-releases']"
  ></app-slots-games>
</div>

<div class="bg-jackpot">
  <app-slots-games
    headerText="Jackpot Games"
    [games]="getJackpotGames$ | async"
    [category]="slotsCategories['jackpot-games']"
  ></app-slots-games>
</div>
