<form [formGroup]="depositForm">
  <app-content-box
    [isFluid]="true"
    [headerText]="'Pay with ' + paymentMethod.name"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
    class="mb-5"
  >
    <!-- <app-payment-method
      buttonLabel="Continue"
      [paymentMethod]="selectedPaymentMethod"
    ></app-payment-method> -->

    <mat-card *ngIf="getSelectedDepositMethod$ | async as paymentMethod">
      <mat-card-title>{{ paymentMethod.name }}</mat-card-title>

      <mat-card-content class="fz-24">
        <div class="row">
          <div class="col-md-3">
            <img
              [src]="
                'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
                paymentMethod.image +
                '.png'
              "
              class="w-100"
              alt="payment method"
            />
            <div
              class="mt-4 pt-3"
              *ngFor="let paymentDetail of paymentMethod.details"
            >
              <dl class="d-flex">
                <dt class="pe-2">Fee:</dt>
                <dd class="mb-0">{{ paymentDetail.fee }}</dd>
              </dl>
              <dl class="d-flex">
                <dt class="pe-2">Minimum:</dt>
                <dd class="mb-0">{{ paymentDetail.min }}</dd>
              </dl>
              <dl class="d-flex">
                <dt class="pe-2">Maximum:</dt>
                <dd class="mb-0">{{ paymentDetail.max }}</dd>
              </dl>
            </div>
          </div>
          <div class="col-md-9">
            <ng-container *ngIf="paymentMethod.description">
              <div [outerHTML]="paymentMethod.description"></div>
            </ng-container>
            <hr class="hr my-4" />
            <!-- <form [formGroup]="depositForm"> -->
            <mat-form-field appearance="fill">
              <mat-label>Amount</mat-label>
              <mat-select formControlName="amount">
                <mat-option
                  *ngFor="let amount of paymentMethod.amounts?.items"
                  [value]="amount"
                >
                  {{ amount }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="fill">
                <mat-label>Amount</mat-label>
                <input matInput formControlName="amount" />
                <div matSuffix>EUR</div>
              </mat-form-field> -->
            <!-- </form> -->
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end" class="align-items-baseline">
        <button type="button" class="btn btn-link fz-22">Change method</button>
        <div class="px-4 pb-4">
          <button
            type="button"
            class="btn-clear btn-main py-1 mx-2 min-w-auto"
            (click)="continue()"
          >
            <span class="btn-main-text">Continue</span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </app-content-box>

  <app-content-box
    [isFluid]="true"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
    class="my-5"
    [headerText]="'Choose a ' + paymentMethod.name + ' Card'"
  >
    <ng-container
      *ngIf="
        getSelectedDepositMethodAccounts$ | async as accounts;
        else noResults
      "
    >
      <div class="text-end mb-4">
        <button
          type="button"
          class="btn-clear btn-main btn-sm py-1 mx-2 min-w-auto"
          (click)="addDepositAccount(paymentMethod)"
        >
          <span class="btn-main-text"
            >Add new {{ paymentMethod.name }} Card</span
          >
        </button>
      </div>
      <table
        mat-table
        aria-describedby="aa"
        [dataSource]="accounts"
        class="mat-elevation-z8 w-100"
      >
        <!-- [fixedLayout]="true" -->
        <!-- select Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-group name="account" formControlName="account">
              <mat-radio-button
                [value]="row"
                (click)="$event.stopPropagation()"
                (change)="selectCard($event, row)"
                [attr.aria-label]="checkboxLabel(row)"
                [value]="row"
              ></mat-radio-button>
            </mat-radio-group>
          </td>
        </ng-container>

        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by Number"
          >
            Number
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.masked_accountnumber }}
          </td>
        </ng-container>

        <!-- type Column-->
        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by type"
          >
            Type
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.method }}
          </td>
        </ng-container>
        <!-- nameOnCard Column-->
        <ng-container matColumnDef="nameOnCard">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by nameOnCard"
          >
            Name On Card
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.nameoncard }}
          </td>
        </ng-container>
        <!-- Expiry Column-->
        <ng-container matColumnDef="expiry">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by expiry"
          >
            Expiry
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.expmonth }} / {{ element.expyear }}
          </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            class="fz-24 text-end"
            *matHeaderCellDef
            sortActionDescription="Sort by action"
          >
            Action
          </th>
          <td class="fz-24 text-end" mat-cell *matCellDef="let element">
            <button
              type="button"
              class="btn-clear btn-main btn-sm min-w-auto"
              (click)="editCardDetails(paymentMethod, element)"
            >
              <span class="btn-main-text">Edit</span>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="accountField.invalid" class="text-danger">Errorrr</div>
    </ng-container>
    <ng-template #noResults> No Transaction Data </ng-template>
  </app-content-box>

  <app-content-box
    [isFluid]="true"
    headerText="CVV"
    class="mb-5"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
  >
    <div class="row justify-content-center">
      <div class="col-4">
        <!-- <form (ngSubmit)="submitCvv(paymentMethod.id)"> -->
        <mat-form-field class="d-block fz-24 mb-4" appearance="fill">
          <mat-label>CVV</mat-label>
          <input type="number" matInput formControlName="cvv" />
          <mat-hint
            >Enter the 3 digit code from the back of your card.</mat-hint
          >
        </mat-form-field>
        <div class="text-center">
          <button
            type="button"
            class="btn-clear btn-main py-1 mx-2 min-w-auto"
            (click)="submitDeposit(paymentMethod.id)"
          >
            <span class="btn-main-text">Continue</span>
          </button>
        </div>
        <!-- </form> -->
      </div>
    </div>
  </app-content-box>
</form>
