<nav aria-label="Main Menu">
  <div class="main-navigation">
    <ul class="main-navigation-list list-unstyled d-flex mb-0">
      <li class="main-navigation-item">
        <a
          class="main-navigation-link"
          routerLink="/bingo-games"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">Bingo</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a
          class="main-navigation-link"
          routerLink="/casino-games"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">Casino</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a
          class="main-navigation-link"
          routerLink="/register"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">Register</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a
          class="main-navigation-link"
          routerLink="/help-desk"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">Help</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a
          class="main-navigation-link"
          routerLink="/account"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">Account</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a
          class="main-navigation-link"
          routerLink="/cashier"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">Cashier</span></a
        >
      </li>
    </ul>
  </div>
</nav>
