<nav class="main-navigation">
  <ul class="main-navigation-list list-unstyled d-flex mb-0">
    <li class="main-navigation-item">
      <a class="main-navigation-link active" routerLink="/bingo-games" matRipple
        ><span class="main-navigation-link-text">Bingo</span></a
      >
    </li>
    <li class="main-navigation-item">
      <a class="main-navigation-link" routerLink="/casino-games" matRipple
        ><span class="main-navigation-link-text">Casino</span></a
      >
    </li>
    <li class="main-navigation-item">
      <a class="main-navigation-link" routerLink="/register" matRipple
        ><span class="main-navigation-link-text">Register</span></a
      >
    </li>
    <li class="main-navigation-item">
      <a class="main-navigation-link" routerLink="/help" matRipple
        ><span class="main-navigation-link-text">Help</span></a
      >
    </li>
  </ul>
</nav>
