<app-content-box
  [headerText]="'Ticket #' + (getHelpDeskChat$ | async)?.id"
  [isFluid]="true"
  class="mb-5"
>
  <ng-container *ngIf="getHelpDeskChat$ | async as helpDeskChat">
    <ng-container *ngIf="helpDeskChat.items">
      <div class="d-flex flex-column fz-24 mb-5">
        <div
          class="w-75 mb-4"
          [ngClass]="{ 'align-self-end': isOdd }"
          *ngFor="let message of helpDeskChat.items; odd as isOdd"
        >
          <app-content-box>
            <div
              header=""
              class="d-flex justify-content-between fz-31 fw-bold my-2 mx-3 transform-skew-10"
            >
              <div><ng-container *ngIf="isOdd">Support</ng-container></div>
              <div class="align-self-end">{{ message.date }}</div>
            </div>
            <div [outerHTML]="message.body"></div>
            <div footer>
              <ng-container *ngFor="let attachment of message.attachments">
                <button
                  type="button"
                  class="btn-clear btn-main btn-sm py-3"
                  (click)="getMessageAttachment(attachment)"
                >
                  <span class="btn-main-text">Attachment</span>
                </button>
              </ng-container>
            </div>
          </app-content-box>
        </div>
      </div>
      <div class="row justify-content-center">
        <div
          [ngClass]="{
            'col-12': helpDeskChat.closed,
            'col-9': !helpDeskChat.closed
          }"
        >
          <form [formGroup]="replyForm">
            <div
              class="align-items-end d-flex"
              *ngIf="!helpDeskChat.closed && helpDeskChat.allow_reply"
            >
              <mat-form-field appearance="fill" class="w-100 fz-24">
                <mat-label>Reply</mat-label>
                <textarea matInput formControlName="message"></textarea>
              </mat-form-field>
              <div class="px-3 pb-1">
                <button
                  class="btn-clear btn-main py-1 mx-4 btn-field mb-4"
                  (click)="chatReply(helpDeskChat.id)"
                >
                  <span class="btn-main-text">Send</span>
                </button>
              </div>
            </div>
            <div
              class="d-flex"
              [ngClass]="{
                'justify-content-center':
                  helpDeskChat.closed || !helpDeskChat.allow_reply
              }"
            >
              <button
                type="button"
                class="btn-clear btn-main btn-red btn-sm"
                [ngClass]="{
                  'py-3': helpDeskChat.closed || !helpDeskChat.allow_reply
                }"
                (click)="archiveChat(helpDeskChat.id)"
              >
                <span class="btn-main-text">Archive this ticket</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <div footer></div>
</app-content-box>

<ng-container *ngIf="getHelpDeskChat$ | async as helpDeskChat">
  <app-content-box
    headerText="Rate Response"
    [isFluid]="true"
    *ngIf="helpDeskChat.closed && !helpDeskChat.rating"
  >
    <div class="d-flex justify-content-center">
      <div>
        <label id="rate-response" class="d-bloc fz-31 fw-bold mb-4"
          >Was this response helpful?
        </label>
        <mat-radio-group
          [formControl]="feedbackRatingField"
          aria-labelledby="rate-response"
          class="d-block mb-4"
        >
          <mat-radio-button
            class="d-block fz-24 mb-4"
            *ngFor="let rate of responseRates"
            [value]="rate.value"
          >
            {{ rate.label }}
          </mat-radio-button>
        </mat-radio-group>

        <button
          type="button"
          class="btn-clear btn-main btn-sm py-3"
          (click)="sendFeedback(helpDeskChat.id)"
        >
          <span class="btn-main-text">Submit</span>
        </button>
      </div>
    </div>
  </app-content-box>
</ng-container>
