@import "../../../../styles/functions/calc-clamp";

.content-box {
  margin-inline-end: calc-clamp(-40);
  margin-bottom: calc-clamp(60);
  &-start {
    margin-inline-start: calc-clamp(-40);
    margin-inline-end: 0;
    margin-top: calc-clamp(-40);
  }
  &-bingo-rooms {
    margin-inline-start: calc-clamp(-50);
    margin-inline-end: 0;
    margin-top: calc-clamp(-40);
  }
  &-top5 {
    margin-inline-start: calc-clamp(-60);
    margin-inline-end: 10px;
    margin-top: calc-clamp(-40);
  }
  &-responsible {
    margin-inline-end: calc-clamp(-50);
  }
}

.table-fixed {
  table-layout: fixed;
}

:host ::ng-deep {
  .coming-up-content-scroll {
    height: calc-clamp(240);
  }
  .content-box-top5 {
    .box-pink-content-body {
      padding-inline-start: calc-clamp(100);
    }
  }
}
