@import "../../../../styles/functions/calc-clamp";
@import "../../../../styles/vendors/hovercss";
@import "/node_modules/hover.css/scss/effects/2d-transitions/grow";

.content-box {
  margin-inline-end: calc-clamp(-40);
  margin-bottom: calc-clamp(60);
  &-start {
    margin-inline-start: calc-clamp(-40);
    margin-inline-end: 0;
    margin-top: calc-clamp(-40);
  }
}

.table-fixed {
  table-layout: fixed;
}

.top5-game-thumbnail {
  width: calc-clamp(100);
}

.hover-pulse {
  @include grow();
}

:host ::ng-deep {
  .coming-up-content-scroll {
    height: calc-clamp(240);
  }
}
