<div class="dashboard-container">
  <div class="row">
    <div class="col-8">
      <app-content-box
        class="content-box content-box-start"
        title="Top Bingo Rooms"
      >
        <table class="table w-100 table-fixed align-middle">
          <thead>
            <tr>
              <th>Time</th>
              <th>Game</th>
              <th>Type</th>
              <th>Card Price</th>
              <th>Pot</th>
              <th>Jackpot</th>
              <th>In</th>
              <th>Players</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1:13</td>
              <td>1001 XL</td>
              <td>75v</td>
              <td>€ 1,00</td>
              <td>€ 0,00</td>
              <td>
                € 7.370,53
                <div></div>
                € 60,14
              </td>
              <td>
                50
                <div></div>
                60
              </td>
              <td>25</td>
              <td>
                <button class="btn-clear btn-main btn-sm float-end">
                  <span class="btn-main-text">Play</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1:13</td>
              <td>1001 XL</td>
              <td>75v</td>
              <td>€ 1,00</td>
              <td>€ 0,00</td>
              <td>
                € 7.370,53
                <div></div>
                € 60,14
              </td>
              <td>
                50
                <div></div>
                60
              </td>
              <td>25</td>
              <td>
                <button class="btn-clear btn-main btn-sm float-end">
                  <span class="btn-main-text">Play</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1:13</td>
              <td>1001 XL</td>
              <td>75v</td>
              <td>€ 1,00</td>
              <td>€ 0,00</td>
              <td>
                € 7.370,53
                <div></div>
                € 60,14
              </td>
              <td>
                50
                <div></div>
                60
              </td>
              <td>25</td>
              <td>
                <button class="btn-clear btn-main btn-sm float-end">
                  <span class="btn-main-text">Play</span>
                </button>
              </td>
            </tr>
            <tr>
              <td>1:13</td>
              <td>1001 XL</td>
              <td>75v</td>
              <td>€ 1,00</td>
              <td>€ 0,00</td>
              <td>
                € 7.370,53
                <div></div>
                € 60,14
              </td>
              <td>
                50
                <div></div>
                60
              </td>
              <td>25</td>
              <td>
                <button class="btn-clear btn-main btn-sm float-end">
                  <span class="btn-main-text">Play</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </app-content-box>
    </div>
    <div class="col-4">
      <app-account-funds></app-account-funds>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-6">
      <app-recent-winners
        class="content-box content-box-start d-block"
        [recentWinners]="recentWinners"
      ></app-recent-winners>
    </div>
    <div class="col-6">
      <app-content-box class="content-box" title="Coming Up">
        <p-scrollPanel styleClass="coming-up-content-scroll fz-24">
          You're a VIP member and always get 20% on every deposit!
          <br /><br />
          Tuesday 05.07.2022 (times in CET)
          <br /><br />

          TUESDAY SPECIAL - ALL VIP levels!
          <br /><br />

          20-21 100% bonus on ALL deposits
          <br /><br />

          Daily bonuses for VIP 5+
          <br /><br />

          12-13 MIDDAY MADNESS - 100% BONUS on ALL deposits<br />
          19-21 DINNER PARTY - 100% BONUS on your first deposit
          <br /><br />

          Daily bonuses for VIP 6+
          <br /><br />

          09-12 EARLY BIRD - 100% BONUS on your first deposit<br />
          13-19 DAILY DOUBLE - 100% BONUS on your first deposit<br />
          21-00 NIGHT OWL - 100% BONUS on your first deposit
          <br /><br />

          Daily bingo games
          <br /><br />

          09-12 1001 XL! Minimum £10 on the first row<br />
          12-14 1001 CASHDROPS - 5-25 £ in extra winnings<br />
          13-17 Spin XL! Guaranteed winnings on the first row<br />
          14-16 1001 XL! Minimum £10 on the first row<br />
          16-18 1001 XL SPECIAL! 10 -20 £ in guaranteed row winnings<br />
          18-19 1001 XL! Minimum £10 on the first row<br />
          19-20 Mad visits 1001! Jackpot within 62 calls, £0.5 per ticket, £50
          Jackpot!<br />
          20-22 1001 CASHDROPS - 5-25 £ in extra winnings<br />
          22-02 1001 XL! Minimum £10 on the first row
          <br /><br />

          Daily chat events
          <br /><br />

          Enjoy our daily chat game events! Opt-in to our NL to always be up to
          date or ask our friendly chat moderator for more information. See you
          in chat!
          <br /><br />

          12-13 play MINIFRIEND and<br />
          20-21 play HIDDEN ROW WINNINGS in room 1001
          <br /><br />

          Chat moderators
          <br /><br />

          10-17 Play and chat with Babs in 1001<br />
          17-24 Play and chat with Michael in 1001
        </p-scrollPanel>
      </app-content-box>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <app-content-box class="content-box content-box-start" title="Top 5!">
        <div class="d-flex fz-16 py-3">
          <div class="flex-fill">
            <h3 class="fz-31 fw-bold mb-4 pb-2">Newest</h3>
            <ng-container *ngFor="let game of top5Games; last as isLast">
              <div class="d-flex cursor-pointer hover-pulse">
                <div class="me-4">
                  <img
                    width="100"
                    src="/assets/images/temp/bs-kensei-blade.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <div class="fz-24 fw-bold text-decoration-none">
                    Fishing Trawler
                  </div>
                  <div>slots</div>
                  <div class="fst-italic">Date Added: 2022-07-05</div>
                </div>
              </div>
              <hr class="hr" *ngIf="!isLast" />
            </ng-container>
          </div>
          <div class="flex-fill">
            <h3 class="fz-31 fw-bold mb-4 pb-2">Most Played</h3>
            <ng-container *ngFor="let game of top5Games; last as isLast">
              <div class="d-flex cursor-pointer hover-pulse">
                <div class="me-4">
                  <img
                    width="100"
                    src="/assets/images/temp/bs-kensei-blade.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <div class="fz-24 fw-bold text-decoration-none">
                    Fishing Trawler
                  </div>
                  <div>slots</div>
                  <div class="fst-italic">Date Added: 2022-07-05</div>
                </div>
              </div>
              <hr class="hr" *ngIf="!isLast" />
            </ng-container>
          </div>
          <div class="flex-fill">
            <h3 class="fz-31 fw-bold mb-4 pb-2">Jackpots</h3>
            <ng-container *ngFor="let game of top5Games; last as isLast">
              <div class="d-flex cursor-pointer hover-pulse">
                <div class="me-4">
                  <img
                    width="100"
                    src="/assets/images/temp/bs-kensei-blade.jpg"
                    alt=""
                  />
                </div>
                <div>
                  <div class="fz-24 fw-bold text-decoration-none">
                    Fishing Trawler
                  </div>
                  <div>slots</div>
                  <div class="fst-italic">Date Added: 2022-07-05</div>
                </div>
              </div>
              <hr class="hr" *ngIf="!isLast" />
            </ng-container>
          </div>
        </div>
      </app-content-box>
    </div>
    <div class="col-4">
      <app-content-box
        class="content-box fz-24"
        titleClass="fz-45"
        title="Responsible Gaming"
      >
        We want you to enjoy playing all the great games we have at BensBingo
        and that you are comfortable with your level of playing. If you want to
        set a budget per day, week and month or want to read more about
        responsible gambling then click the link to find more information. If
        you prefer to speak to us then please don’t hesitate to contact us.
      </app-content-box>
    </div>
  </div>

  <app-chat-moderators></app-chat-moderators>
</div>
