<!-- All payment methods -->
<div class="row" *ngIf="!onlyDefaultPaymentMethod">
  <ng-container *ngFor="let paymentMethod of getPaymentMethods">
    <div class="col-md-4 mb-4" *ngIf="!paymentMethod.default">
      <mat-card class="h-100 d-flex flex-column">
        <mat-card-header>
          <mat-card-title>{{ paymentMethod.name }}</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="
            'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
            paymentMethod.image +
            '.png'
          "
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content class="mb-auto">
          <div [outerHTML]="paymentMethod.description"></div>
        </mat-card-content>
        <!-- <mat-divider inset></mat-divider> -->
        <mat-card-content class="fz-24">
          <div class="row text-center">
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Fee</dt>
                <dd class="mb-0">{{ paymentMethod.details.fee }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Minimum</dt>
                <dd class="mb-0">{{ paymentMethod.details.min }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Maximum</dt>
                <dd class="mb-0">{{ paymentMethod.details.max }}</dd>
              </dl>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-divider inset></mat-divider> -->
        <mat-card-actions class="d-flex">
          <button
            type="button"
            class="btn-clear btn-main py-1 mx-2 min-w-auto flex-fill"
            (click)="selectPaymentMethod(paymentMethod)"
          >
            <span class="btn-main-text">Select</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>

<!-- Default payment methods -->
<ng-container *ngIf="onlyDefaultPaymentMethod">
  <ng-container *ngFor="let paymentMethod of getPaymentMethods">
    <ng-container *ngIf="!!paymentMethod.default">
      <mat-card>
        <mat-card-title>{{ paymentMethod.name }}</mat-card-title>

        <mat-card-content class="fz-24">
          <div class="d-flex">
            <div>
              <img
                [src]="
                  'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
                  paymentMethod.image +
                  '.png'
                "
                alt="payment method"
              />
            </div>
            <div class="px-4">
              <form>
                <div class="row g-4">
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>Account</mat-label>
                      <input matInput value="************2929" />
                    </mat-form-field>
                  </div>
                  <div class="col-auto">
                    <mat-form-field appearance="fill">
                      <mat-label>CVV</mat-label>
                      <input matInput />
                    </mat-form-field>
                  </div>
                </div>
                <mat-form-field appearance="fill">
                  <mat-label>Amount</mat-label>
                  <input matInput />
                  <div matSuffix>EUR</div>
                </mat-form-field>
              </form>
            </div>
            <!-- <div class="ms-auto">
                <dl class="d-flex">
                  <dt>Fee</dt>
                  <dd class="mb-0">{{ paymentMethod.details.fee }}</dd>
                </dl>
                <dl class="d-flex">
                  <dt>Minimum</dt>
                  <dd class="mb-0">{{ paymentMethod.details.min }}</dd>
                </dl>
                <dl class="d-flex">
                  <dt>Maximum</dt>
                  <dd class="mb-0">{{ paymentMethod.details.max }}</dd>
                </dl>
              </div> -->
          </div>
        </mat-card-content>
        <mat-divider inset class="mb-3"></mat-divider>
        <mat-card-content class="fz-24 mb-3">
          <div class="row text-center">
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Fee</dt>
                <dd class="mb-0">{{ paymentMethod.details.fee }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Minimum</dt>
                <dd class="mb-0">{{ paymentMethod.details.min }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Maximum</dt>
                <dd class="mb-0">{{ paymentMethod.details.max }}</dd>
              </dl>
            </div>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions align="end">
          <div class="p-4">
            <button
              type="button"
              class="btn-clear btn-main py-1 mx-2 min-w-auto"
            >
              <span class="btn-main-text">Deposit</span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </ng-container>
</ng-container>

<!-- Cash-out payment methods -->
<ng-container *ngIf="cashOutPaymentMethod.name">
  <mat-card>
    <mat-card-title>{{ cashOutPaymentMethod.name }}</mat-card-title>

    <mat-card-content class="fz-24">
      <div class="d-flex">
        <div>
          <img
            [src]="
              'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
              cashOutPaymentMethod.image +
              '.png'
            "
            alt="payment method"
          />
        </div>
        <div class="px-4">
          <form>
            <div class="row g-4">
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>Account</mat-label>
                  <input matInput value="************2929" />
                </mat-form-field>
              </div>
              <div class="col-auto">
                <mat-form-field appearance="fill">
                  <mat-label>CVV</mat-label>
                  <input matInput />
                </mat-form-field>
              </div>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Amount</mat-label>
              <input matInput />
              <div matSuffix>EUR</div>
            </mat-form-field>
          </form>
        </div>
        <!-- <div class="ms-auto">
                <dl class="d-flex">
                  <dt>Fee</dt>
                  <dd class="mb-0">{{ paymentMethod.details.fee }}</dd>
                </dl>
                <dl class="d-flex">
                  <dt>Minimum</dt>
                  <dd class="mb-0">{{ paymentMethod.details.min }}</dd>
                </dl>
                <dl class="d-flex">
                  <dt>Maximum</dt>
                  <dd class="mb-0">{{ paymentMethod.details.max }}</dd>
                </dl>
              </div> -->
      </div>
    </mat-card-content>
    <mat-divider inset class="mb-3"></mat-divider>
    <mat-card-content class="fz-24 mb-3">
      <div class="row text-center">
        <div class="col-md-4">
          <dl class="mb-0">
            <dt>Fee</dt>
            <dd class="mb-0">{{ cashOutPaymentMethod.details.fee }}</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl class="mb-0">
            <dt>Minimum</dt>
            <dd class="mb-0">{{ cashOutPaymentMethod.details.min }}</dd>
          </dl>
        </div>
        <div class="col-md-4">
          <dl class="mb-0">
            <dt>Maximum</dt>
            <dd class="mb-0">{{ cashOutPaymentMethod.details.max }}</dd>
          </dl>
        </div>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
      <div class="p-4">
        <button type="button" class="btn-clear btn-main py-1 mx-2 min-w-auto">
          <span class="btn-main-text">Request withdrawal</span>
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-container>
