<div class="bingo-games">
  <div class="d-flex">
    <div class="bingo-games-header d-flex">
      <img
        src="/assets/images/fox-icon/fox-icon.webp"
        srcset="
          /assets/images/fox-icon/fox-icon@2x.webp 2x,
          /assets/images/fox-icon/fox-icon@3x.webp 3x
        "
        class="fox-icon"
        alt="fox head"
      />
      <div class="bingo-games-header-text">Bingo Games</div>
      <button class="btn-clear bingo-games-header-btn-more" matRipple>
        <span class="bingo-games-header-btn-more-text">More games</span>
      </button>
    </div>
  </div>
  <div class="bingo-games-list">
    <p-carousel
      [value]="games"
      styleClass="custom-carousel"
      [numVisible]="4"
      [numScroll]="1"
      [circular]="true"
      [showIndicators]="false"
      [showNavigators]="true"
    >
      <ng-template let-game pTemplate="item">
        <div class="bingo-games-list-item position-relative">
          <div
            class="bingo-game-wrap"
            [ngStyle]="{ 'background-image': 'url(' + game.image + ')' }"
          >
            <div class="bingo-game">
              <div class="bingo-game-time">
                <div class="bingo-game-time-text">{{ game.time }}</div>
              </div>
              <div class="bingo-game-type">{{ game.type }}</div>
              <div class="bingo-game-name" appShrinkFontSize>
                {{ game.name }}
              </div>
              <div class="bingo-game-jackpot">
                <div class="bingo-game-jackpot-title">JACKPOT</div>
                <div
                  class="align-items-center d-flex justify-content-center h-100"
                >
                  <div class="bingo-game-jackpot-sum">
                    <ng-container
                      *ngFor="let jackpot of game.jackpot; last as isLast"
                    >
                      $ {{ jackpot }}
                      <div *ngIf="!isLast"></div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="btn-clear bingo-game-btn"
            (click)="showBingoGameDetails(game)"
            matRipple
          >
            <span class="bingo-game-btn-text">Register</span>
          </button>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
