<div class="bingo-games">
  <div class="d-flex">
    <div class="bingo-games-header transform-skew-n20 d-flex">
      <div class="transform-skew-20 d-flex">
        <div class="fox-icon" #parallaxScene>
          <div class="">
            <img
              data-depth="0.3"
              src="/assets/images/fox-icon/fox-icon.webp"
              srcset="
                /assets/images/fox-icon/fox-icon@2x.webp 2x,
                /assets/images/fox-icon/fox-icon@3x.webp 3x
              "
              class="d-block parallax-layer"
              alt="fox head"
            />
          </div>
        </div>
        <div class="bingo-games-header-text">Bingo Games</div>
        <button
          *ngIf="showInCarousel"
          class="btn-clear bingo-games-header-btn-more"
          routerLink="/bingo-games"
          matRipple
        >
          <span class="bingo-games-header-btn-more-text">More games</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Games in carousel -->
  <div class="bingo-games-list" *ngIf="showInCarousel">
    <owl-carousel-o [options]="carouselOptions" class="carousel-games">
      <ng-container *ngFor="let game of games">
        <ng-template carouselSlide
          ><div class="bingo-games-list-item position-relative">
            <app-bingo-game [game]="game"></app-bingo-game>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
  <!-- All Games -->
  <div class="bingo-games-list d-flex flex-wrap" *ngIf="!showInCarousel">
    <div
      class="bingo-games-list-item bingo-games-list-item-25 position-relative"
      *ngFor="let game of games"
    >
      <app-bingo-game [game]="game" class="d-block"></app-bingo-game>
    </div>
  </div>
</div>
