@import "../../../../styles/functions/calc-clamp";

:host ::ng-deep {
  article {
    margin-bottom: calc-clamp(40);
    h2 {
      margin-bottom: calc-clamp(40);
      font-size: calc-clamp(38);
      font-weight: 700;
    }
    h3 {
      margin-top: calc-clamp(20);
      margin-bottom: calc-clamp(20);
      font-size: calc-clamp(31);
      font-weight: 700;
    }
  }
}
