@import "vendors/hovercss";
@import "/node_modules/hover.css/scss/effects/shadow-and-glow-transitions/float-shadow";

.clip-path-1 {
  clip-path: polygon(0 0, 99.1% 0%, 86% 100%, 0% 100%);
}
.transform-skew-10 {
  transform: skew(10deg);
}
.transform-skew-n10 {
  transform: skew(-10deg);
}
.transform-skew-20 {
  transform: skew(20deg);
}
.transform-skew-n20 {
  transform: skew(-20deg);
}
.hovercss-float-shadow {
  @include float-shadow();
}
.absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
