@import "vendors/hovercss";
@import "/node_modules/hover.css/scss/effects/shadow-and-glow-transitions/float-shadow";

.clip-path-1 {
  clip-path: polygon(0 0, 99.1% 0%, 86% 100%, 0% 100%);
}
.transform-skew-20 {
  transform: skew(20deg);
}
.transform-skew-n20 {
  transform: skew(-20deg);
}
.hovercss-float-shadow {
  @include float-shadow();
}
