<div class="casino-new-games position-relative">
  <p-carousel [value]="newGames" [showNavigators]="false">
    <ng-template let-newGame pTemplate="item">
      <div
        class="casino-new-game position-relative"
        [ngStyle]="{
          'background-image': 'url(/assets/images/temp/casino-new-game.webp)'
        }"
      >
        <div class="casino-new-game-shadow">
          <div class="casino-new-game-name d-flex justify-content-center">
            <div class="casino-new-game-name-text">
              1001 XL
              <div>
                <button
                  class="btn-clear btn-main casino-new-game-btn"
                  (click)="showBingoGameDetails(newGame)"
                >
                  <span class="btn-main-text casino-new-game-btn-text"
                    >Play For Real</span
                  >
                </button>
                <button
                  class="btn-clear btn-secondary casino-new-game-btn"
                  (click)="showBingoGameDetails(newGame)"
                >
                  <span class="btn-main-text casino-new-game-btn-text"
                    >Play For Fun</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div class="casino-new-games-label label-new">
    <div class="casino-new-games-label-text">New</div>
  </div>
  <div class="overflow-hidden">
    <img
      src="/assets/images/spirit-hunters-kitsune/spirit-hunters-kitsune.webp"
      srcset="
        /assets/images/spirit-hunters-kitsune/spirit-hunters-kitsune@2x.webp 2x,
        /assets/images/spirit-hunters-kitsune/spirit-hunters-kitsune@3x.webp 3x
      "
      class="SpiritHunters_Kitsune_Export"
      alt="character"
      class="casino-new-games-character"
    />
  </div>
</div>
