<!-- All payment methods -->
<div class="row" *ngIf="!onlyDefaultPaymentMethod">
  <ng-container *ngFor="let paymentMethod of paymentMethods">
    <!-- *ngIf="!paymentMethod.default" -->
    <div class="col-md-4 mb-4">
      <mat-card class="h-100 d-flex flex-column">
        <mat-card-header>
          <mat-card-title>{{ paymentMethod.name }}</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          [src]="
            'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
            paymentMethod.image +
            '.png'
          "
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content class="mb-auto">
          <div [outerHTML]="paymentMethod.description"></div>
        </mat-card-content>
        <!-- <mat-divider inset></mat-divider> -->
        <mat-card-content class="fz-24">
          <div
            class="row text-center"
            *ngFor="let paymentDetail of paymentMethod.details"
          >
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Fee</dt>
                <dd class="mb-0">{{ paymentDetail.fee }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Minimum</dt>
                <dd class="mb-0">{{ paymentDetail.min }}</dd>
              </dl>
            </div>
            <div class="col-md-4">
              <dl class="mb-0">
                <dt>Maximum</dt>
                <dd class="mb-0">{{ paymentDetail.max }}</dd>
              </dl>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-divider inset></mat-divider> -->
        <mat-card-actions class="d-flex">
          <button
            type="button"
            class="btn-clear btn-main py-1 mx-2 min-w-auto flex-fill"
            (click)="selectPaymentMethod(paymentMethod)"
          >
            <span class="btn-main-text">Select</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</div>
