@import "../../../../styles/functions/calc-clamp";
:host ::ng-deep {
  .box-pink-header {
    background: linear-gradient(
      135deg,
      #e311af 6%,
      #981177 20%,
      #e311af 22%,
      #e311af 58%,
      #981177 74%,
      #981177 85%,
      #e311af 87%
    );
  }
}
.winners-list {
  &-item {
    position: relative;
    padding-bottom: calc-clamp(30);
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(47);
    font-weight: 700;
    line-height: 1;
    &::after {
      position: absolute;
      bottom: calc-clamp(15);
      left: -6%;
      width: 112%;
      height: calc-clamp(2);
      content: "";
      background-color: #826c6c;
    }
    &:last-child {
      padding-bottom: 0;
      &::after {
        content: none;
      }
    }
    &-game {
      &-username {
        font-family: OpenSans, sans-serif;
        font-size: calc-clamp(17);
        font-style: italic;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}
