@import "../../../../styles/functions/calc-clamp";
@import "../../../../styles/vendors/hovercss";
@import "/node_modules/hover.css/scss/effects/2d-transitions/pulse";

:host {
  display: block;
  margin: 0 calc-clamp(-50);
}

.moderators {
  &-wrap {
    padding-top: calc-clamp(30);
    padding-bottom: calc-clamp(14);
  }
  &-moderator {
    @include pulse();
    &-link {
      display: block;
      width: calc-clamp(98);
      height: calc-clamp(98);
      margin: 0 calc-clamp(75) calc-clamp(20);
      overflow: hidden;
      border: solid calc-clamp(3) #974869;
      border-radius: 50%;
    }
  }
}

.separator {
  height: calc-clamp(2);
  margin: calc-clamp(40) 0;
  background-color: #6b5e74;
}
