<div class="overflow-hidden">
  <div class="header-top position-relative">
    <app-header></app-header>
    <div class="d-flex mb-2">
      <div>
        <app-main-navigation></app-main-navigation>
        <app-new-games></app-new-games>
      </div>
    </div>
    <app-coming-up></app-coming-up>
    <app-header-character></app-header-character>
  </div>
  <app-bingo-games></app-bingo-games>
  <app-jackpot-winners></app-jackpot-winners>
  <app-slots-games></app-slots-games>

  <app-footer></app-footer>
</div>
