<div class="overflow-hidden">
  <div class="top-bar d-flex justify-content-end">
    <div class="top-bar-username text-white">username</div>
  </div>
  <div class="header-top position-relative">
    <div class="d-flex">
      <div>
        <div class="header d-flex align-items-center">
          <ul class="language-selector line-height-normal list-unstyled mb-0">
            <li
              class="language-selector-lng d-flex justify-content-center align-items-center"
            >
              <button class="btn-clear">EN</button>
            </li>
          </ul>
          <div class="header-logo flex-fill">BEN's Bingo</div>
          <button class="btn-clear header-btn-login align-self-stretch">
            <span class="header-btn-login-text">Login</span>
          </button>
        </div>
      </div>
    </div>
    <div class="d-flex mb-2">
      <div>
        <!-- Main Navigation BEGIN -->
        <nav class="main-navigation">
          <ul class="main-navigation-list list-unstyled d-flex mb-0">
            <li class="main-navigation-item">
              <a class="main-navigation-link active" href=""
                ><span class="main-navigation-link-text">Bingo</span></a
              >
            </li>
            <li class="main-navigation-item">
              <a class="main-navigation-link" href=""
                ><span class="main-navigation-link-text">Casino</span></a
              >
            </li>
            <li class="main-navigation-item">
              <a class="main-navigation-link" href=""
                ><span class="main-navigation-link-text">Register</span></a
              >
            </li>
            <li class="main-navigation-item">
              <a class="main-navigation-link" href=""
                ><span class="main-navigation-link-text">Help</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- Main Navigation END -->
        <!-- New Game BEGIN -->
        <div class="new-game position-relative">
          <img
            alt="usagi-character"
            src="/assets/images/what-s-new-banner-box/what-s-new-banner-box.png"
            class="new-game-banner"
            srcset="
              /assets/images/what-s-new-banner-box/what-s-new-banner-box@2x.png 2x,
              /assets/images/what-s-new-banner-box/what-s-new-banner-box@3x.png 3x
            "
          />
          <button class="btn-clear new-game-btn-more">
            <span class="new-game-btn-more-text">More!</span>
          </button>
        </div>
        <!-- New Game END -->
      </div>
    </div>
    <div class="d-flex">
      <!-- Coming Up BEGIN -->
      <div class="coming-up position-relative">
        <div class="coming-up-body">
          <div class="coming-up-label-new">
            <div class="coming-up-label-new-text">New</div>
          </div>
          <div class="coming-up-label">
            <div class="coming-up-label-text">Coming Up!</div>
          </div>
          <div class="coming-up-body-content">
            <!-- <div> -->
            <article>
              <header>
                You're a VIP member and always get 20% on every deposit!
              </header>
              <p>Friday 27.05.2022 (times in CET)</p>
            </article>
            <article>
              <header>Daily bonuses for VIP 5+</header>
              <p>
                12-13 MIDDAY MADNESS - 100% BONUS on ALL deposits 19-21 DINNER
              </p>
              <p>PARTY - 100% BONUS on your first deposit</p>
            </article>
            <!-- </div> -->
          </div>
          <button class="btn-clear coming-up-btn-more">
            <span class="coming-up-btn-more-text">More!</span>
          </button>
        </div>
      </div>
      <!-- Coming Up END -->
    </div>
    <div class="header-character">
      <img
        src="/assets/images/usagi-character/usagi-character.png"
        srcset="
          /assets/images/usagi-character/usagi-character@2x.png 2x,
          /assets/images/usagi-character/usagi-character@3x.png 3x
        "
        class="header-character-girl"
        alt="character"
      />
      <img
        class="header-character-mask"
        src="/assets/images/mask-1/mask-1.webp"
        srcset="
          /assets/images/mask-1/mask-1@2x.webp 2x,
          /assets/images/mask-1/mask-1@3x.webp 3x
        "
        alt="mask"
      />
      <img
        src="/assets/images/s-green/s-green.webp"
        srcset="
          /assets/images/s-green/s-green@2x.webp 2x,
          /assets/images/s-green/s-green@3x.webp 3x
        "
        class="header-character-s-green"
        alt="green stone"
      />
      <img
        src="/assets/images/s-red/s-red.webp"
        srcset="
          /assets/images/s-red/s-red@2x.webp 2x,
          /assets/images/s-red/s-red@3x.webp 3x
        "
        class="header-character-s-red"
        alt="red stone"
      />
      <img
        src="/assets/images/s-purple/s-purple.webp"
        srcset="
          /assets/images/s-purple/s-purple@2x.webp 2x,
          /assets/images/s-purple/s-purple@3x.webp 3x
        "
        class="header-character-s-purple"
        alt="purple stone"
      />
    </div>
  </div>
  <div class="bingo-games">
    <div class="d-flex">
      <div class="bingo-games-header d-flex">
        <img
          src="/assets/images/fox-icon/fox-icon.webp"
          srcset="
            /assets/images/fox-icon/fox-icon@2x.webp 2x,
            /assets/images/fox-icon/fox-icon@3x.webp 3x
          "
          class="fox-icon"
          alt="fox head"
        />
        <div class="bingo-games-header-text">Bingo Games</div>
        <button class="btn-clear bingo-games-header-btn-more">
          <span class="bingo-games-header-btn-more-text">More games</span>
        </button>
      </div>
    </div>
    <ul class="bingo-games-list list-unstyled d-flex mb-0">
      <li class="position-relative flex-fill" *ngFor="let item of games">
        <div class="bingo-game-wrap">
          <div class="bingo-game">
            <div class="bingo-game-time">
              <div class="bingo-game-time-text">1:43</div>
            </div>
            <div class="bingo-game-type">Game</div>
            <div class="bingo-game-name">1001-10</div>
            <div class="bingo-game-jackpot">
              <div class="bingo-game-jackpot-title">JACKPOT</div>
              <div
                class="align-items-center d-flex justify-content-center h-100"
              >
                <div class="bingo-game-jackpot-sum">
                  $ 1.302,57
                  <div></div>
                  $ 110,76
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn-clear bingo-game-btn">
          <span class="bingo-game-btn-text">Register</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="bg-jackpot-winners d-flex align-items-start">
    <div class="box-pink-left flex-fill">
      <div class="box-pink-wrap">
        <div class="box-pink">
          <div class="box-pink-header">
            <div class="box-pink-header-text">JACKPOTS</div>
          </div>
          <div class="box-pink-body">
            <ul class="jackpots-list list-unstyled mb-0">
              <li
                class="jackpots-list-item d-flex align-items-end jackpots-list-item"
              >
                <div class="jackpots-list-item-game flex-fill">
                  <div class="jackpots-list-item-game-studio">Progressive</div>
                  UNO
                </div>
                <div class="jackpots-list-item-sum">$ 143,67</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="box-pink-right flex-fill">
      <div class="box-pink-wrap">
        <div class="box-pink">
          <div class="box-pink-header">
            <div class="box-pink-header-text">RECENT WINNERS</div>
          </div>
          <div class="box-pink-body">
            <ul class="winners-list list-unstyled mb-0">
              <li
                class="winners-list-item d-flex align-items-end winners-list-item"
              >
                <div class="winners-list-item-game flex-fill">
                  <div class="winners-list-item-game-username">ELENA 25</div>
                  PUPP PAWS
                </div>
                <div class="winners-list-item-sum">$ 35</div>
              </li>
              <li
                class="winners-list-item d-flex align-items-end winners-list-item"
              >
                <div class="winners-list-item-game flex-fill">
                  <div class="winners-list-item-game-username">ELENA 25</div>
                  PUPP PAWS
                </div>
                <div class="winners-list-item-sum">$ 35</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slots-games">
    <div class="d-flex">
      <div class="slots-games-header d-flex">
        <img
          src="/assets/images/usagi-icon/usagi-icon.webp"
          srcset="
            /assets/images/usagi-icon/usagi-icon@2x.webp 2x,
            /assets/images/usagi-icon/usagi-icon@3x.webp 3x
          "
          class="usagi-icon"
          alt="fox head"
        />
        <div class="slots-games-header-text">Hot Slots</div>
        <button class="btn-clear slots-games-header-btn-more">
          <span class="slots-games-header-btn-more-text">More games</span>
        </button>
      </div>
    </div>
    <ul class="slots-games-list list-unstyled d-flex mb-0">
      <li class="position-relative flex-fill" *ngFor="let item of slots">
        <div class="slots-game-wrap">
          <div class="slots-game">
            <div class="slots-game-studio">
              <div class="slots-game-studio-text">Elysium Studios</div>
            </div>
            <div class="slots-game-name d-flex">
              <div class="slots-game-name-text">Law Of Gilgamesh</div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="page-footer">
    <div
      class="bens-bingo-ads d-flex justify-content-center align-items-center"
    >
      <div class="bens-bingo-ads-text">BEN’s Bingo</div>
      <img
        src="/assets/images/stones/stones.webp"
        srcset="
          /assets/images/stones/stones@2x.webp 2x,
          /assets/images/stones/stones@3x.webp 3x
        "
        class="bens-bingo-ads-stones"
        alt="stones"
      />
    </div>
    <div class="page-footer-content">
      <div class="d-flex align-items-center justify-content-around">
        <ul class="list-unstyled align-self-start mb-0">
          <li><a class="page-footer-link" href="">About Us</a></li>
          <li>
            <a class="page-footer-link" href="">Terms And Conditions</a>
          </li>
          <li>
            <a class="page-footer-link" href="">Responsible Gaming</a>
          </li>
          <li><a class="page-footer-link" href="">Privacy Policy</a></li>
          <li><a class="page-footer-link" href="">AML Policy</a></li>
          <li>
            <a class="page-footer-link" href="">Payout and Bonuses</a>
          </li>
          <li><a class="page-footer-link" href="">KYC Policy</a></li>
        </ul>
        <ul class="list-unstyled align-self-start mb-0">
          <li><a class="page-footer-link" href="">Contact</a></li>
          <li><a class="page-footer-link" href="">Security</a></li>
          <li><a class="page-footer-link" href="">Self-exclusion</a></li>
          <li><a class="page-footer-link" href="">Complaints</a></li>
          <li><a class="page-footer-link" href="">Fair Play</a></li>
          <li><a class="page-footer-link" href="">Tell a Friend</a></li>
        </ul>
        <img
          src="/assets/images/18-plus/18-plus.png"
          srcset="
            /assets/images/18-plus/18-plus@2x.png 2x,
            /assets/images/18-plus/18-plus@3x.png 3x
          "
          alt="18-plus"
          class="page-footer-18-plus"
        />
        <img
          src="/assets/images/ce/ce.png"
          srcset="
            /assets/images/ce/ce@2x.png 2x,
            /assets/images/ce/ce@3x.png 3x
          "
          class="page-footer-ce"
          alt="ce"
        />
        <img
          src="/assets/images/innovus-nv.png"
          class="page-footer-innovus-nv"
          alt="innovus nv"
        />
        <img
          src="/assets/images/aberrant/aberrant.png"
          srcset="
            /assets/images/aberrant/aberrant@2x.png 2x,
            /assets/images/aberrant/aberrant@3x.png 3x
          "
          class="page-footer-aberrant"
          alt="aberrant"
        />
      </div>
      <hr class="page-footer-separator" />
      <div class="d-flex align-items-center justify-content-around">
        <div><img src="/assets/images/visa/visa.png" alt="" /></div>
        <div><img src="/assets/images/mastercard/mastercard.png" alt="" /></div>
        <div><img src="/assets/images/ew/ew.png" alt="" /></div>
        <div><img src="/assets/images/ap/ap.png" alt="" /></div>
        <div class="page-footer-disclaimer">
          BensBingo™ is owned and operated by Innovus N.V. Group of companies,
          Johan van Walbeeckplein 24, Curaçao and managed by KeyFin Management.
          The Innovus N.V. Group includes/consists of BPMNG Solutions Ltd, 68
          Lyuben Karavelov Str., 1142 Sofia, Bulgaria, Technical Consulting and
          Management Services Ltd, Station House Connaught Road, Brookwood,
          Woking, GU24 0ER Surrey, and Innovus N.V. Johan van Walbeeckplein 24,
          Curaçao. SSL encryption is employed to protect sensitive data.
          Copyright © 2021. All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
