/* stylelint-disable selector-pseudo-element-no-unknown */
@import "../styles/functions/calc-clamp";
@import "../styles/vendors/bootstrap/shared";
@import "../styles/vendors/hovercss";
@import "../styles/mixins/btn-clear";

@import "/node_modules/hover.css/scss/effects/background-transitions/fade";
@import "/node_modules/hover.css/scss/effects/shadow-and-glow-transitions/grow-shadow";
@import "/node_modules/hover.css/scss/effects/shadow-and-glow-transitions/float-shadow";
@import "/node_modules/hover.css/scss/effects/2d-transitions/grow";

.top-bar {
  padding: 0 calc-clamp(48);
  line-height: normal;
  background: #401784;
  background:
    linear-gradient(
      to right,
      #401784 16%,
      #652ac5 51%,
      #431888 79%,
      #5321a4 100%
    );
  &-username {
    margin-top: calc-clamp(-2);
    margin-bottom: calc-clamp(5);
    font-size: calc-clamp(27);
    line-height: normal;
  }
}
.header-top {
  padding-bottom: calc-clamp(200);
  background: url("/assets/images/header-bg.webp") no-repeat 0 0;
  background-size: cover;
}
.header {
  padding: 0 calc-clamp(24);
  line-height: 1.389;
  background: #401784;
  background: linear-gradient(148deg, #401784 22%, #652ac5 61%);
  &-logo {
    padding-inline-start: calc-clamp(48);
    padding-inline-end: calc-clamp(140);
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(72);
    font-weight: 700;
    color: #fff;
  }
  &-btn-login {
    min-width: calc-clamp(265);
    padding-inline-start: calc-clamp(35);
    padding-inline-end: calc-clamp(35);
    margin-inline-end: calc-clamp(-43);
    background: #e833d0;
    transform: skew(-20deg);
    &-text {
      display: block;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(31);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      transform: skew(20deg);
    }
  }
}
.language-selector {
  margin: 0 calc-clamp(16);
  &,
  &-lng {
    width: calc-clamp(84);
    height: calc-clamp(78);
  }
  &-lng {
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(40);
    font-weight: 700;
    color: #fff;
    border: solid 2px #e833d0;
  }
}

.main-navigation {
  padding: 0 calc-clamp(60) 0 calc-clamp(160);
  margin: 0 calc-clamp(-8);
  background-color: #0d808a;
  transform: skew(-20deg);
  &-list {
    transform: skew(20deg);
  }
  &-link {
    @include fade();
    display: block;
    padding-inline-start: calc-clamp(40);
    padding-inline-end: calc-clamp(40);
    text-decoration: none;
    text-transform: uppercase;
    transform: skew(-20deg);
    &.active {
      background-color: #093a5c;
    }
    &-text {
      display: block;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(31);
      font-weight: 700;
      color: #fff;
      transform: skew(20deg);
    }
  }
}

.new-game {
  z-index: 1;
  width: calc-clamp(1568);
  min-height: calc-clamp(548);
  overflow: hidden;
  clip-path: polygon(0 0, 99.1% 0%, 86% 100%, 0% 100%);
  &-banner {
    width: calc-clamp(1568);

    // TODO: remove
    // margin-inline-start: calc-clamp(-15);
  }
  &-studio {
    position: absolute;
    right: calc-clamp(160);
    bottom: 0;
    left: 0;
    z-index: 9;
    padding-inline-end: calc-clamp(17);
    padding-top: calc-clamp(40);
    padding-bottom: calc-clamp(40);
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, .6) 65%, rgb(0 0 0 / 0%) 100%);
  }
  &-btn-more {
    @include fade();
    position: absolute;
    right: calc-clamp(213);
    bottom: 0;
    z-index: 9;
    min-width: calc-clamp(282);
    padding: calc-clamp(8) calc-clamp(15);
    background-color: #0d808a;
    transform: skew(-20deg);
    &-text {
      display: block;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(35);
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-transform: uppercase;
      transform: skew(20deg);
    }
  }
  ::ng-deep {
    .p-carousel-indicators {
      position: absolute;
      bottom: calc-clamp(20);
      width: 100%;
      padding: 0;
      padding-inline-end: calc-clamp(172);
      margin: 0;
      list-style: none;
      .p-link {
        @include btn-clear();
        width: calc-clamp(10);
        height: calc-clamp(10);
        margin: 0 calc-clamp(5);
        background-color: #fff;
        border-radius: 50%;
      }
      /* stylelint-disable-next-line selector-max-compound-selectors */
      .p-highlight .p-link {
        background-color: #000;
        border: 1px solid #fff;
      }
    }
  }
}
:host::ng-deep .coming-up-body-content-scroll {
  width: 100%;
  height: calc-clamp(230);
  .p-scrollpanel-bar-y {
    right: unset;
    left: calc-clamp(-18);
  }
  .p-scrollpanel-content {
    padding: 0;
  }
}
.coming-up {
  z-index: 1;
  margin-inline-start: calc-clamp(-60);
  background-color: rgba(#000, .7);
  transform: skew(-20deg);
  &-body {
    transform: skew(20deg);
    &-content {
      min-height: calc-clamp(325);
      padding-inline-start: calc-clamp(265);
      padding-top: calc-clamp(70);
      padding-bottom: calc-clamp(43);
      color: #fff;
    }
    // TODO: Content
    header {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(33);
      font-style: italic;
      font-weight: 700;
    }
    article {
      margin-bottom: calc-clamp(20);
      font-size: calc-clamp(25);
      letter-spacing: calc-clamp(-1);
      p {
        margin-bottom: 0;
      }
    }
  }

  &-label {
    position: absolute;
    top: 0;
    left: 50%;
    min-width: calc-clamp(287);
    background-color: #0d808a;
    transform: skew(-20deg) translateX(-50%);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(35);
      font-weight: 700;
      color: #fff;
      text-align: center;
      transform: skew(20deg);
    }
  }
  &-btn-more {
    @include fade();
    position: absolute;
    right: calc-clamp(62);
    bottom: 0;
    min-width: calc-clamp(287);
    margin-bottom: calc-clamp(-26);
    background-color: #0d808a;
    transform: skew(-20deg);
    &-text {
      display: block;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(35);
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      transform: skew(20deg);
    }
  }

  &-label-new {
    position: absolute;
    top: 0;
    left: calc-clamp(-10);
    z-index: 1;
    min-width: calc-clamp(447);
    padding-inline-end: calc-clamp(50);
    text-align: end;
    background: linear-gradient(148deg, #401784 22%, #652ac5 61%);
    transform: skew(-20deg) translate(0, -58%);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      transform: skew(20deg);
    }
  }
}

.header-character {
  position: absolute;
  top: calc-clamp(10);
  right: 0;
  &-girl {
    position: relative;
    z-index: 1;
    width: calc-clamp(609);
    margin-inline-end: calc-clamp(-20);
  }
  &-mask {
    position: absolute;
    bottom: calc-clamp(80);
    left: calc-clamp(-315);
    z-index: 0;
    width: calc-clamp(606);
  }
  &-s-green {
    @include grow();
    position: absolute;
    bottom: calc-clamp(500);
    left: 0;
    width: calc-clamp(152);
  }
  &-s-red {
    position: absolute;
    top: calc-clamp(135);
    right: calc-clamp(25);
    width: calc-clamp(132);
  }
  &-s-purple {
    position: absolute;
    top: calc-clamp(10);
    right: calc-clamp(130);
    width: calc-clamp(49);
  }
}

.bingo-games {
  margin-bottom: calc-clamp(238);
  &-header {
    position: relative;
    top: calc-clamp(-45);
    padding-inline-start: calc-clamp(225);
    margin-bottom: calc-clamp(-15);
    background: linear-gradient(148deg, #401784 9%, #652ac5 55%, #401784 72%);
    &-text {
      margin-inline-end: calc-clamp(360);
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
    .fox-icon {
      position: absolute;
      top: 33%;
      left: calc-clamp(-20);
      z-index: 9;
      width: calc-clamp(244);
      transform: translateY(-50%);
    }
    &-btn-more {
      @include fade();
      min-width: calc-clamp(282);
      min-width: calc-clamp(358);
      margin-inline-end: calc-clamp(-10);
      background-color: #0d808a;
      transform: skew(-10deg);
      &-text {
        display: block;
        font-family: OpenSans, sans-serif;
        font-size: calc-clamp(35);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        transform: skew(10deg);
      }
    }
  }
  &-list {
    &-item {
      // @include grow-shadow();
      // width: 25vw;
      &:nth-child(1) {
        .bingo-game-wrap {
          background-image: url("/assets/images/games/game-1.webp");
        }
      }
      &:nth-child(2) {
        .bingo-game-wrap {
          background-image: url("/assets/images/games/game-2.webp");
        }
      }
      &:nth-child(3) {
        .bingo-game-wrap {
          background-image: url("/assets/images/games/game-3.webp");
        }
      }
      &:nth-child(4) {
        .bingo-game-wrap {
          background-image: url("/assets/images/games/game-4.webp");
        }
      }
    }
  }
}
.bingo-game {
  &-wrap {
    margin: 0 calc-clamp(-32);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  position: relative;
  min-height: calc-clamp(500);
  &-time {
    max-width: calc-clamp(120);
    padding: 0 calc-clamp(24);
    margin-inline-start: calc-clamp(76);
    margin-top: calc-clamp(5);
    text-align: center;
    background-color: #662bc7;
    transform: skew(351deg);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(31);
      font-weight: 700;
      color: #fff;
      transform: skew(-351deg);
    }
  }
  &-type {
    padding-inline-start: calc-clamp(65);
    margin-top: calc-clamp(115);
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(30);
    font-style: italic;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  }
  &-name {
    padding-inline-start: calc-clamp(45);
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(71);
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
  }
  &-jackpot {
    position: absolute;
    right: calc-clamp(38);
    bottom: 0;
    left: 0;
    height: calc-clamp(200);
    padding-bottom: calc-clamp(90);
    color: #fff;
    background-color: rgba(#000, .8);

    &-title {
      padding-inline-start: calc-clamp(35);
      margin-top: calc-clamp(8);
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(30);
      font-style: italic;
      font-weight: 700;
      line-height: 1;
    }
    &-sum {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(55);
      font-weight: 700;
      line-height: 1;
    }
  }
  &-btn {
    @include fade();
    position: absolute;
    bottom: calc-clamp(-35);
    /* stylelint-disable-next-line function-disallowed-list */
    left: calc(50% - calc-clamp(33));
    z-index: 9;
    padding: calc-clamp(9) calc-clamp(40);
    background-color: #0d808a;
    transform: skew(-10deg) translateX(-50%);
    &-text {
      display: block;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(35);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      transform: skew(15deg);
    }
  }
}

.box-pink {
  padding: calc-clamp(7);
  padding-top: 0;
  &-wrap {
    color: #fff;
    background-color: #da15a9;
    transform: skew(-10deg);
  }
  &-left {
    @include float-shadow();
    .box-pink-wrap {
      margin-inline-start: calc-clamp(-25);
      margin-inline-end: calc-clamp(16);
      margin-top: calc-clamp(-75);
    }
    .box-pink-header {
      background:
        linear-gradient(
          135deg,
          #981177 1%,
          #981177 11%,
          #e311af 17%,
          #e311af 32%,
          #981177 33%,
          #e311af 71%,
          #e311af 76%,
          #981177 91%,
          #e311af 100%
        );
    }
  }
  &-right {
    @include float-shadow();
    margin-top: calc-clamp(-165);
    margin-bottom: calc-clamp(40);
    .box-pink-wrap {
      margin-inline-start: calc-clamp(16);
      margin-inline-end: calc-clamp(-35);
    }
    .box-pink-header {
      background:
        linear-gradient(
          135deg,
          #e311af 6%,
          #981177 20%,
          #e311af 22%,
          #e311af 58%,
          #981177 74%,
          #981177 85%,
          #e311af 87%
        );
    }
  }

  &-header {
    margin: 0 calc-clamp(-7);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-style: italic;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      transform: skew(10deg);
    }
  }
  &-body {
    padding: calc-clamp(28) calc-clamp(88);
    background-color: #000;
  }
}
.bg-jackpot-winners {
  padding-bottom: calc-clamp(130);
  background:
    url("/assets/images/bg-with-mask/bg-with-mask.webp") no-repeat 0
    center;
  background-size: cover;
}
.jackpots-list {
  transform: skew(10deg);
  &-item {
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(80);
    font-weight: 700;
    line-height: 1;
    &-game {
      &-studio {
        font-family: OpenSans, sans-serif;
        font-size: calc-clamp(30);
        font-style: italic;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}
.winners-list {
  transform: skew(10deg);
  &-item {
    position: relative;
    padding-bottom: calc-clamp(30);
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(47);
    font-weight: 700;
    line-height: 1;
    &::after {
      position: absolute;
      bottom: calc-clamp(15);
      left: -6%;
      width: 112%;
      height: calc-clamp(2);
      content: "";
      background-color: #826c6c;
    }
    &:last-child {
      padding-bottom: 0;
      &::after {
        content: none;
      }
    }
    &-game {
      &-username {
        font-family: OpenSans, sans-serif;
        font-size: calc-clamp(17);
        font-style: italic;
        font-weight: 700;
        line-height: 1;
      }
    }
  }
}

.slots-games {
  margin-bottom: calc-clamp(100);
  &-header {
    position: relative;
    top: calc-clamp(-45);
    padding-inline-start: calc-clamp(225);
    margin-bottom: calc-clamp(-15);
    background: linear-gradient(148deg, #401784 9%, #652ac5 55%, #401784 72%);
    &-text {
      margin-inline-end: calc-clamp(360);
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
    .usagi-icon {
      position: absolute;
      top: 33%;
      left: calc-clamp(-20);
      z-index: 9;
      width: calc-clamp(244);
      transform: translateY(-50%);
    }
    &-btn-more {
      @include fade();
      min-width: calc-clamp(282);
      min-width: calc-clamp(358);
      margin-inline-end: calc-clamp(-10);
      background-color: #0d808a;
      transform: skew(-10deg);
      &-text {
        display: block;
        font-family: OpenSans, sans-serif;
        font-size: calc-clamp(35);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        transform: skew(10deg);
      }
    }
  }
  &-list {
    li {
      &:nth-child(1) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-1.jpg");
        }
      }
      &:nth-child(2) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-2.jpg");
        }
      }
      &:nth-child(3) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-3.jpg");
        }
      }
      &:nth-child(4) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-4.jpg");
        }
      }
      &:nth-child(5) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-5.jpg");
        }
      }
    }
  }
}

.slots-game {
  &-wrap {
    margin: 0 calc-clamp(-23);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  position: relative;
  min-height: calc-clamp(500);
  &-studio {
    display: inline-block;
    min-width: calc-clamp(200);
    padding: 0 calc-clamp(10);
    margin-inline-start: calc-clamp(60);
    background-color: #000;
    transform: skew(351deg);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(21);
      font-style: italic;
      color: #fff;
      transform: skew(-351deg);
    }
  }

  &-name {
    position: absolute;
    right: calc-clamp(38);
    bottom: 0;
    left: 0;
    height: calc-clamp(125);
    padding: 0 calc-clamp(20);
    background-color: rgba(#000, .8);
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(50);
      font-weight: 700;
      line-height: 1;
      color: #fff;
      transform: translate(-50%, -50%);
    }
  }
}
.bens-bingo-ads {
  position: relative;
  min-height: calc-clamp(226);

  &-text {
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(72);
    font-weight: 700;
    color: #fff;
  }
  &-stones {
    position: absolute;
    top: calc-clamp(-130);
    right: calc-clamp(-120);
    width: calc-clamp(439);
  }
}
.page-footer {
  color: #6b5e74;
  background:
    url("/assets/images/bg-with-mask-2/bg-with-mask-2.webp") no-repeat
    center 0;
  background-size: contain;
  &-content {
    padding: calc-clamp(60) calc-clamp(80) calc-clamp(50);
    background-color: rgba(#000, .6);
  }

  &-link {
    display: block;
    font-family: OpenSans, sans-serif;
    font-size: calc-clamp(30);
    color: #6b5e74;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &-disclaimer {
    max-width: calc-clamp(950);
    font-size: calc-clamp(15);
  }
  .page-footer-separator {
    height: calc-clamp(2);
    margin-top: calc-clamp(40);
    margin-bottom: calc-clamp(45);
    background-color: #6b5e74;
    opacity: .5;
  }

  &-18-plus {
    width: calc-clamp(75);
  }
  &-ce {
    width: calc-clamp(204);
  }
  &-innovus-nv {
    width: calc-clamp(161);
  }
  &-aberrant {
    width: calc-clamp(225);
  }
  &-icon-visa {
    width: calc-clamp(105);
  }
  &-icon-mastercard {
    width: calc-clamp(76);
  }
  &-icon-ew {
    width: calc-clamp(98);
  }
  &-icon-ap {
    width: calc-clamp(171);
  }
}
