<div class="container-fluid1">
  <div class="top-bar d-flex justify-content-end px-5">
    <div class="top-bar-username text-white">username</div>
  </div>
  <div class="position-relative">
    <div class="d-flex">
      <div class="">
        <div class="header d-flex align-items-center px-4">
          <ul
            class="language-selector line-height-normal list-unstyled mb-0 mx-3"
          >
            <li
              class="language-selector-lng d-flex justify-content-center align-items-center"
            >
              <button class="btn-clear">EN</button>
            </li>
          </ul>
          <div class="header-logo px-5 flex-fill">BEN's Bingo</div>
          <button class="btn-clear header-btn-login align-self-stretch">
            <span class="header-btn-login-text">Login</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <!-- Main Navigation BEGIN -->
        <nav class="main-navigation px-5">
          <ul class="main-navigation-list list-unstyled d-flex mb-0 px-5 mx-5">
            <li class="main-navigation-item">
              <a class="main-navigation-link active" href=""
                ><span class="main-navigation-link-text">Bingo</span></a
              >
            </li>
            <li class="main-navigation-item">
              <a class="main-navigation-link" href=""
                ><span class="main-navigation-link-text">Casino</span></a
              >
            </li>
            <li class="main-navigation-item">
              <a class="main-navigation-link" href=""
                ><span class="main-navigation-link-text">Register</span></a
              >
            </li>
            <li class="main-navigation-item">
              <a class="main-navigation-link" href=""
                ><span class="main-navigation-link-text">Help</span></a
              >
            </li>
          </ul>
        </nav>
        <!-- Main Navigation END -->

        <!-- New Game BEGIN -->
        <div class="new-game position-relative">
          <img
            alt="usagi-character"
            src="/assets/images/what-s-new-banner-box.webp"
            srcset="
              /assets/images/what-s-new-banner-box@2x.webp 2x,
              /assets/images/what-s-new-banner-box@3x.webp 3x
            "
            class="UsagiCharacter"
          />
          <button class="btn-clear new-game-btn-more">
            <span class="new-game-btn-more-text">More!</span>
          </button>
        </div>
        <!-- New Game END -->

        <!-- Coming Up BEGIN -->
        <div class="coming-up">
          <div class="coming-up-new-label">New</div>
          <div class="coming-up-label">Coming Up!</div>
          <div>
            You're a VIP member and always get 20% on every deposit! Friday
            27.05.2022 (times in CET) Daily bonuses for VIP 5+ 12-13 MIDDAY
            MADNESS - 100% BONUS on ALL deposits 19-21 DINNER PARTY - 100% BONUS
            on your first deposit
          </div>
          <div class="coming-up-more">More!</div>
        </div>
        <!-- Coming Up END -->
      </div>
    </div>

    <div class="header-girl"></div>
  </div>
</div>
