<div
  class="site-dialog-wrap"
  *ngIf="getSelectedUserProfile$ | async as userProfile"
>
  <button
    tabindex="-1"
    class="btn-clear site-dialog-btn-close"
    (click)="closeDialog()"
  ></button>

  <div class="site-dialog">
    <div class="site-dialog-content">
      <div class="site-dialog-header align-items-end d-flex position-relative">
        <img
          *ngIf="getSelectedUserAlias$ | async as userAlias"
          width="172"
          [src]="
            'https://functionalgames.cdn.bingolab.com/viewprofilepic.php?alias=' +
            userAlias +
            '&size=bigsquare&siteid=95'
          "
          alt=""
          srcset=""
        />
        <div class="px-4" *ngIf="getSelectedUserAlias$ | async as userAlias">
          <div class="site-dialog-header-name mb-4">
            {{ userAlias }}'s Profile
          </div>

          <div class="d-flex justify-content-between">
            <dl *ngIf="userProfile.profile.get('age')">
              <dt class="fz-31 fw-bold">Age</dt>
              <dd class="fz-24">
                {{ userProfile.profile.get("age") }}
              </dd>
            </dl>
            <dl *ngIf="userProfile.profile.get('zodiac')">
              <dt class="fz-31 fw-bold">Zodiac</dt>
              <dd class="fz-24">
                {{ userProfile.profile.get("zodiac") }}
              </dd>
            </dl>
            <dl *ngIf="userProfile.profile.get('maritalstatus')">
              <dt class="fz-31 fw-bold">Marital status</dt>
              <dd class="fz-24">
                {{ userProfile.profile.get("maritalstatus") }}
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="site-dialog-body text-white">
        <mat-dialog-content>
          <div class="row">
            <ng-container
              *ngFor="let details of userProfile.profile | keyvalue"
            >
              <dl
                class="col-6 mb-4"
                *ngIf="
                  details.value &&
                  details.key !== 'age' &&
                  details.key !== 'zodiac' &&
                  details.key !== 'maritalstatus'
                "
              >
                <dt class="fz-31 fw-bold">{{ details.key }}</dt>
                <dd class="fz-24">{{ details.value }}</dd>
              </dl>
            </ng-container>
          </div>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
