<div class="bg-jackpot-winners d-flex align-items-start">
  <div class="box-pink-left flex-fill">
    <div class="box-pink-wrap">
      <div class="box-pink">
        <div class="box-pink-header">
          <div class="box-pink-header-text">JACKPOTS</div>
        </div>
        <div class="box-pink-body">
          <ul class="jackpots-list list-unstyled mb-0">
            <li
              class="jackpots-list-item d-flex align-items-end jackpots-list-item"
            >
              <div class="jackpots-list-item-game flex-fill">
                <div class="jackpots-list-item-game-studio">Progressive</div>
                UNO
              </div>
              <div class="jackpots-list-item-sum">$ 143,67</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="box-pink-right flex-fill">
    <div class="box-pink-wrap">
      <div class="box-pink">
        <div class="box-pink-header">
          <div class="box-pink-header-text">RECENT WINNERS</div>
        </div>
        <div class="box-pink-body">
          <ul class="winners-list list-unstyled mb-0">
            <li
              class="winners-list-item d-flex align-items-end winners-list-item"
            >
              <div class="winners-list-item-game flex-fill">
                <div class="winners-list-item-game-username">ELENA 25</div>
                PUPP PAWS
              </div>
              <div class="winners-list-item-sum">$ 35</div>
            </li>
            <li
              class="winners-list-item d-flex align-items-end winners-list-item"
            >
              <div class="winners-list-item-game flex-fill">
                <div class="winners-list-item-game-username">ELENA 25</div>
                PUPP PAWS
              </div>
              <div class="winners-list-item-sum">$ 35</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
