<ng-container *ngIf="messages">
  <table
    mat-table
    aria-describedby="aa"
    [dataSource]="messages"
    class="mat-elevation-z8 w-100"
    *ngIf="messages.data.length; else noMessages"
  >
    <!-- column ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell class="fz-24" *matHeaderCellDef>ID</th>
      <td
        class="fz-24"
        mat-cell
        [ngClass]="{ 'fw-bold': !element.viewed }"
        *matCellDef="let element"
      >
        {{ element.id }}
      </td>
    </ng-container>

    <!-- column Time -->
    <ng-container matColumnDef="time">
      <th mat-header-cell class="fz-24" *matHeaderCellDef>Time</th>
      <td
        class="fz-24"
        mat-cell
        [ngClass]="{ 'fw-bold': !element.viewed }"
        *matCellDef="let element"
      >
        {{ element.date }}
      </td>
    </ng-container>

    <!-- column Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell class="fz-24" *matHeaderCellDef>Title</th>
      <td
        class="fz-24"
        mat-cell
        [ngClass]="{ 'fw-bold': !element.viewed }"
        *matCellDef="let element"
      >
        {{ element.subject }}
        <span class="badge bg-secondary" *ngIf="!element.viewed">New</span>
      </td>
    </ng-container>

    <!-- columns Options -->
    <ng-container matColumnDef="options">
      <th mat-header-cell class="fz-24" *matHeaderCellDef>Options</th>
      <td
        class="fz-24"
        mat-cell
        [ngClass]="{ 'fw-bold': !element.viewed }"
        *matCellDef="let element"
      >
        <button
          class="btn-clear btn-main btn-sm"
          (click)="viewMessage.next(element.id)"
        >
          <span class="btn-main-text">View</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <ng-template #noMessages>
    <span class="fz-22">No messages</span>
  </ng-template>
</ng-container>
