@import "../../../../styles/functions/calc-clamp";

.box-pink {
  padding: calc-clamp(7);
  padding-top: 0;
  &-wrap {
    color: #fff;
    background-color: #da15a9;
    transform: skew(-10deg);
  }

  &-header {
    margin: 0 calc-clamp(-7);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-style: italic;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      transform: skew(10deg);
    }
  }
  &-body {
    padding: calc-clamp(28) calc-clamp(88);
    background-color: #000;
  }
}
