@import "../../../../styles/functions/calc-clamp";

.box-pink {
  padding: calc-clamp(7);
  padding-top: 0;
  &-wrap {
    color: #fff;
    background-color: #da15a9;
    transform: skew(-10deg);
  }

  &-header {
    margin: 0 calc-clamp(-7);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-style: italic;
      font-weight: 700;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
      transform: skew(10deg);
    }
  }
  &-body {
    padding: calc-clamp(28) calc-clamp(88);
    // background-color: #322c36;
    background: #322c36
      linear-gradient(
        135deg,
        rgba(31, 27, 33, 0) 0%,
        rgba(31, 27, 33, 1) 25%,
        rgba(31, 27, 33, 1) 43%,
        rgba(31, 27, 33, 0) 75%,
        rgba(31, 27, 33, 1) 87%,
        rgba(31, 27, 33, 1) 100%
      );
  }
}
