<div class="d-block">
  <div
    class="box-pink-wrap"
    [ngClass]="{
      'transform-skew-n10': !isFluid
    }"
  >
    <div class="box-pink" [ngClass]="{ 'box-pink-fluid': isFluid }">
      <div
        class="box-pink-header d-flex align-items-center justify-content-center"
      >
        <div class="box-pink-header-text" [ngClass]="titleClass">
          <div [ngClass]="{ 'transform-skew-10': !isFluid }">{{ title }}</div>
        </div>
      </div>
      <div class="box-pink-body">
        <div class="py-4" [ngClass]="{ 'transform-skew-10': !isFluid }">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
