<div class="bg-jackpot-winners d-flex align-items-start">
  <div class="box-jackpots flex-fill">
    <app-content-box>
      <div id="title">Jackpots</div>
      <ul id="content" class="jackpots-list list-unstyled mb-0">
        <li
          class="jackpots-list-item d-flex align-items-end jackpots-list-item"
          *ngFor="let jackpot of jackpots"
        >
          <div class="jackpots-list-item-game flex-fill">
            <div class="jackpots-list-item-game-studio">
              {{ jackpot.studio }}
            </div>
            {{ jackpot.game }}
          </div>
          <div class="jackpots-list-item-sum">$ {{ jackpot.sum }}</div>
        </li>
      </ul>
    </app-content-box>
  </div>
  <div class="box-winners flex-fill">
    <app-recent-winners [recentWinners]="recentWinners"></app-recent-winners>
  </div>
</div>
