<mat-card>
  <mat-card-title>{{ paymentMethod.name }}</mat-card-title>

  <mat-card-content class="fz-24">
    <div class="row justify-content-between">
      <div class="col-md-3">
        <img
          [src]="
            'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
            paymentMethod.image +
            '.png'
          "
          class="w-100"
          alt="payment method"
        />
        <div
          class="mt-4 pt-3"
          *ngFor="let paymentDetail of paymentMethod.details"
        >
          <dl class="d-flex">
            <dt class="pe-2">Fee:</dt>
            <dd class="mb-0">{{ paymentDetail.fee }}</dd>
          </dl>
          <dl class="d-flex">
            <dt class="pe-2">Minimum:</dt>
            <dd class="mb-0">{{ paymentDetail.min }}</dd>
          </dl>
          <dl class="d-flex">
            <dt class="pe-2">Maximum:</dt>
            <dd class="mb-0">{{ paymentDetail.max }}</dd>
          </dl>
        </div>
      </div>
      <div class="col-md-8">
        <ng-container *ngIf="paymentMethod.description">
          <div [outerHTML]="paymentMethod.description"></div>
        </ng-container>
        <hr class="hr my-4" />
        <ng-content></ng-content>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end" class="align-items-baseline">
    <button
      type="button"
      class="btn btn-link fz-22"
      routerLink="/cashier/deposit"
    >
      Change method
    </button>
    <div class="px-4 pb-4">
      <ng-content select="[submitButton]"></ng-content>
    </div>
  </mat-card-actions>
</mat-card>
