@import "../../../../styles/functions/calc-clamp";
@import "../../../../styles/vendors/hovercss";

.main-navigation-submenus {
  padding-inline-end: calc-clamp(120);
  margin-inline-start: calc-clamp(-24);
  margin-inline-end: calc-clamp(-7);
  background-color: #5d26b7;
  .main-navigation-link {
    padding-inline-start: calc-clamp(30);
    padding-inline-end: calc-clamp(30);
  }
}
