<nav aria-label="Sub navigation">
  <div class="main-navigation main-navigation-submenus">
    <ul
      class="main-navigation-list list-unstyled d-flex justify-content-between mb-0"
    >
      <li class="main-navigation-item" *ngFor="let link of navigationLinks">
        <a
          class="main-navigation-link"
          [routerLink]="link.url"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">{{ link.title }}</span></a
        >
      </li>
    </ul>
  </div>
</nav>
