<nav aria-label="Sub navigation">
  <div class="main-navigation main-navigation-submenus">
    <ul
      class="main-navigation-list list-unstyled d-flex justify-content-between mb-0"
    >
      <li class="main-navigation-item">
        <a
          class="main-navigation-link active"
          routerLink="/bingo-games"
          matRipple
          ><span class="main-navigation-link-text">Current Games</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a class="main-navigation-link" routerLink="/casino-games" matRipple
          ><span class="main-navigation-link-text">How to Play</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a class="main-navigation-link" routerLink="/register" matRipple
          ><span class="main-navigation-link-text">Chat</span></a
        >
      </li>
      <li class="main-navigation-item">
        <a class="main-navigation-link" routerLink="/help" matRipple
          ><span class="main-navigation-link-text">Coming Up</span></a
        >
      </li>
    </ul>
  </div>
</nav>
