<nav aria-label="Sub navigation">
  <div class="main-navigation main-navigation-submenus">
    <ul
      class="main-navigation-list list-unstyled d-flex justify-content-between mb-0"
    >
      <li class="main-navigation-item" *ngFor="let link of navigationLinks">
        <a
          class="main-navigation-link"
          [routerLink]="link.url"
          routerLinkActive="active"
          matRipple
          ><span class="main-navigation-link-text">{{ link.title }}</span>
          <!-- <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
          >
            99+
            <span class="visually-hidden">unread messages</span>
          </span> -->
        </a>
      </li>
    </ul>
  </div>
</nav>
