<div class="row justify-content-center fz-24">
  <div class="col-6">
    <app-content-box headerText="Forgot Password">
      <ng-container *ngIf="getPasswordResetMethods$ | async as methods">
        <form
          [formGroup]="resetPasswordForm"
          (ngSubmit)="onSubmit()"
          *ngIf="!methods.length"
        >
          <div class="mb-4">Enter your email, phone number, or username.</div>
          <mat-form-field appearance="fill" class="d-block">
            <mat-label>Email/Phone/Username</mat-label>
            <input
              matInput
              formControlName="accountIdentifier"
              autocomplete="email"
            />
          </mat-form-field>
          <div class="text-center">
            <button class="btn-clear btn-main py-1 mx-2">
              <span class="btn-main-text">Submit</span>
            </button>
          </div>
        </form>
        <ng-container *ngIf="methods.length">
          <div class="mb-4 fw-bold">
            How do you want to reset your password?
          </div>
          <mat-radio-group
            aria-label="How do you want to reset your password?"
            class="d-block mb-5"
          >
            <mat-radio-button
              class="d-block mb-2"
              [value]="method.value"
              *ngFor="let method of methods"
              >{{ method.label }}</mat-radio-button
            >
          </mat-radio-group>
          <div class="text-center">
            <button
              type="button"
              class="btn btn-link fz-24 mx-4"
              (click)="enterAccountIdentifier()"
            >
              Back
            </button>
            <button class="btn-clear btn-main py-1 mx-2">
              <span class="btn-main-text">Submit</span>
            </button>
          </div>
        </ng-container>
      </ng-container>
    </app-content-box>
  </div>
</div>
