<form
  [formGroup]="confirmDepositDetailsForm"
  *ngIf="getUserInfo$ | async as user"
  (ngSubmit)="confirmDeposit()"
>
  <app-content-box
    [isFluid]="true"
    headerText="Confirm Deposit Details"
    class="mb-5"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
  >
    <div class="row justify-content-center fz-24">
      <div class="col-8">
        <div formGroupName="userdata">
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstname" />
              </mat-form-field>
            </div>
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname" />
              </mat-form-field>
            </div>
          </div>
          <div class="mb-2">
            <mat-form-field class="d-block" appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" />
            </mat-form-field>
          </div>
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" />
              </mat-form-field>
            </div>
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" />
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput formControlName="zip" />
              </mat-form-field>
            </div>
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" />
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" />
              </mat-form-field>
            </div>
            <div class="col-4 mb-2">
              <mat-form-field appearance="fill" class="d-block">
                <mat-label>Birthday</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birthdate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="text-center">
            <!-- <button
              type="submit"
              class="btn-clear btn-main py-1 mx-2 min-w-auto"
            >
              <span class="btn-main-text">Update Details</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </app-content-box>

  <app-content-box
    [isFluid]="true"
    headerText="Information"
    class="mb-5"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
  >
    <div class="row justify-content-center fz-24 mb-4">
      <div class="col-8">
        <div class="fz-22">
          <div class="small">
            <p>
              This transaction will appear on your billing statement as FakeOut,
              +46850513501
            </p>
            <p>
              The payment method will be debited immediately once the
              transaction is fully completed.
            </p>
            <p>
              BensCasino always handles customer data in a confidential manner.
            </p>
            <p>
              Please note; It is the sole responsibility of the cardholder to
              observe the national law in their country as they pertain to
              gambling prohibitions.
            </p>
            <p>Gambling may only be enjoyed by adults.</p>
            <p>
              Your invoice will be displayed once the payment process is
              complete. We suggest you print or save a copy of this invoice for
              your records.
            </p>
            <p>
              Payments processing is handled by Technical Consulting and
              Management Services Ltd. (Company Number: 7857267). London,
              England. You can contact us at info@innovusnv.com or phone 020
              7193 1099
            </p>
            <p>
              For additional support, please visit our support page:
              <a href="/en/help/">Here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <!-- (click)="confirmDeposit()" -->
      <button class="btn-clear btn-main py-1 mx-2 min-w-auto">
        <span class="btn-main-text">Confirm Deposit</span>
      </button>
    </div>
  </app-content-box>
</form>
