<div class="slots-games">
  <div class="d-flex">
    <div class="slots-games-header d-flex">
      <img
        src="/assets/images/usagi-icon/usagi-icon.webp"
        srcset="
          /assets/images/usagi-icon/usagi-icon@2x.webp 2x,
          /assets/images/usagi-icon/usagi-icon@3x.webp 3x
        "
        class="usagi-icon"
        alt="fox head"
      />
      <div class="slots-games-header-text">Hot Slots</div>
      <button
        class="btn-clear slots-games-header-btn-more"
        [routerLink]="['/slots-games']"
        matRipple
      >
        <span class="slots-games-header-btn-more-text">More games</span>
      </button>
    </div>
  </div>
  <div class="slots-games-list">
    <p-carousel
      [value]="games"
      [numVisible]="5"
      [numScroll]="1"
      [circular]="true"
      [showIndicators]="false"
      [showNavigators]="true"
    >
      <ng-template let-game pTemplate="item">
        <div class="slots-games-list-item position-relative">
          <div
            class="slots-game-wrap"
            [ngStyle]="{ 'background-image': 'url(' + game.image + ')' }"
          >
            <div class="slots-game">
              <div class="slots-game-studio">
                <div class="slots-game-studio-text">{{ game.studio }}</div>
              </div>
              <div class="slots-game-name d-flex">
                <div class="slots-game-name-text">{{ game.game }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
