<div class="slots-games">
  <div class="d-flex">
    <div class="slots-games-header d-flex">
      <img
        src="/assets/images/usagi-icon/usagi-icon.webp"
        srcset="
          /assets/images/usagi-icon/usagi-icon@2x.webp 2x,
          /assets/images/usagi-icon/usagi-icon@3x.webp 3x
        "
        class="usagi-icon"
        alt="fox head"
      />
      <div class="slots-games-header-text">Hot Slots</div>
      <button class="btn-clear slots-games-header-btn-more" matRipple>
        <span class="slots-games-header-btn-more-text">More games</span>
      </button>
    </div>
  </div>
  <ul class="slots-games-list list-unstyled d-flex mb-0">
    <li class="position-relative flex-fill" *ngFor="let item of slots">
      <div class="slots-game-wrap">
        <div class="slots-game">
          <div class="slots-game-studio">
            <div class="slots-game-studio-text">Elysium Studios</div>
          </div>
          <div class="slots-game-name d-flex">
            <div class="slots-game-name-text">Law Of Gilgamesh</div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
