@import "../../../../styles/functions/calc-clamp";
@import "../../../../styles/vendors/hovercss";
@import "/node_modules/hover.css/scss/effects/background-transitions/fade";
@import "/node_modules/hover.css/scss/effects/2d-transitions/grow";

.slots-games {
  margin-bottom: calc-clamp(100);
  &-header {
    position: relative;
    top: calc-clamp(-45);
    padding-inline-start: calc-clamp(225);
    margin-bottom: calc-clamp(-15);
    background: linear-gradient(148deg, #401784 9%, #652ac5 55%, #401784 72%);
    &-text {
      margin-inline-end: calc-clamp(360);
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(60);
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
    }
    .usagi-icon {
      position: absolute;
      top: 33%;
      left: calc-clamp(-20);
      z-index: 9;
      width: calc-clamp(244);
      transform: translateY(-50%);
    }
    &-btn-more {
      @include fade();
      min-width: calc-clamp(282);
      min-width: calc-clamp(358);
      margin-inline-end: calc-clamp(-10);
      background-color: #0d808a;
      transform: skew(-10deg);
      &-text {
        display: block;
        font-family: OpenSans, sans-serif;
        font-size: calc-clamp(35);
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        transform: skew(10deg);
      }
    }
  }
  &-list {
    &-item {
      @include grow();
      display: block;
      &:nth-child(1) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-1.jpg");
        }
      }
      &:nth-child(2) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-2.jpg");
        }
      }
      &:nth-child(3) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-3.jpg");
        }
      }
      &:nth-child(4) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-4.jpg");
        }
      }
      &:nth-child(5) {
        .slots-game-wrap {
          background-image: url("/assets/images/games/slot-5.jpg");
        }
      }
    }
  }
}

.slots-game {
  &-wrap {
    margin: 0 calc-clamp(-23);
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  position: relative;
  min-height: calc-clamp(500);
  &-studio {
    display: inline-block;
    min-width: calc-clamp(200);
    padding: 0 calc-clamp(10);
    margin-inline-start: calc-clamp(60);
    background-color: #000;
    transform: skew(351deg);
    &-text {
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(21);
      font-style: italic;
      color: #fff;
      transform: skew(-351deg);
    }
  }

  &-name {
    position: absolute;
    right: calc-clamp(38);
    bottom: 0;
    left: 0;
    height: calc-clamp(125);
    padding: 0 calc-clamp(20);
    background-color: rgba(#000, 0.8);
    &-text {
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: OpenSans, sans-serif;
      font-size: calc-clamp(50);
      font-weight: 700;
      line-height: 1;
      color: #fff;
      transform: translate(-50%, -50%);
    }
  }
}
