<div class="header-character">
  <img
    src="/assets/images/usagi-character/usagi-character.png"
    srcset="
      /assets/images/usagi-character/usagi-character@2x.png 2x,
      /assets/images/usagi-character/usagi-character@3x.png 3x
    "
    class="header-character-girl"
    alt="character"
  />
  <img
    class="header-character-mask"
    src="/assets/images/mask-1/mask-1.webp"
    srcset="
      /assets/images/mask-1/mask-1@2x.webp 2x,
      /assets/images/mask-1/mask-1@3x.webp 3x
    "
    alt="mask"
  />
  <img
    src="/assets/images/s-green/s-green.webp"
    srcset="
      /assets/images/s-green/s-green@2x.webp 2x,
      /assets/images/s-green/s-green@3x.webp 3x
    "
    class="header-character-s-green"
    alt="green stone"
  />
  <img
    src="/assets/images/s-red/s-red.webp"
    srcset="
      /assets/images/s-red/s-red@2x.webp 2x,
      /assets/images/s-red/s-red@3x.webp 3x
    "
    class="header-character-s-red"
    alt="red stone"
  />
  <img
    src="/assets/images/s-purple/s-purple.webp"
    srcset="
      /assets/images/s-purple/s-purple@2x.webp 2x,
      /assets/images/s-purple/s-purple@3x.webp 3x
    "
    class="header-character-s-purple"
    alt="purple stone"
  />
</div>
