<div class="game-details-wrap">
  <button
    class="btn-clear game-details-btn-close"
    (click)="closeDialog()"
  ></button>
  <div class="game-details-time">
    <div class="game-details-time-text">4:45</div>
  </div>
  <div class="game-details">
    <div class="game-details-content">
      <div class="game-details-header">
        <div class="game-details-header-type">GAME</div>
        <div class="game-details-header-name">1001 XL</div>
      </div>
      <div class="game-details-body"></div>
    </div>
    <button class="btn-clear game-details-btn">
      <span class="game-details-btn-text">Register</span>
    </button>
  </div>
</div>
