<div class="game-details-wrap">
  <button
    class="btn-clear game-details-btn-close"
    (click)="closeDialog()"
  ></button>
  <div class="game-details-time">
    <div class="game-details-time-text">{{ game.time }}</div>
  </div>
  <div class="game-details">
    <div class="game-details-content">
      <div class="game-details-header">
        <div class="game-details-header-type">{{ game.type }}</div>
        <div class="game-details-header-name">{{ game.name }}</div>
      </div>
      <div class="game-details-body"></div>
    </div>
    <button class="btn-clear game-details-btn">
      <span class="game-details-btn-text">Register</span>
    </button>
  </div>
</div>
