<div class="bingo-new-games position-relative">
  <owl-carousel-o [options]="carouselOptions" class="carousel-new-games">
    <ng-container *ngFor="let game of games">
      <ng-template carouselSlide>
        <div
          class="bingo-new-game position-relative"
          [ngStyle]="{
            'background-image': 'url(' + game.image + ')'
          }"
        >
          <div class="bingo-new-game-shadow">
            <div class="bingo-new-game-name d-flex align-items-start">
              <div class="bingo-new-game-name-text">{{ game.name }}</div>
              <div class="">
                <div class="bingo-new-game-jackpots transform-skew-n20">
                  <div class="transform-skew-20">
                    Jackpots: $100,56 / $245,78
                  </div>
                </div>
                <button
                  class="btn-clear btn-main"
                  (click)="showBingoGameDetails(game)"
                >
                  <span class="btn-main-text">Register</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div class="bingo-new-games-label label-new">
    <div class="bingo-new-games-label-text">New</div>
  </div>
  <div class="bingo-new-games-character" #parallaxScene>
    <img
      data-depth="0.5"
      src="/assets/images/usagi-character/usagi-character.webp"
      srcset="
        /assets/images/usagi-character/usagi-character@2x.webp 2x,
        /assets/images/usagi-character/usagi-character@3x.webp 3x
      "
      alt="character"
      class="parallax-layer d-block w-100"
    />
  </div>
</div>
