<app-content-box class="content-box" title="Funds">
  <ul class="list-unstyled fz-24 my-3">
    <li class="d-flex justify-content-end mb-3">
      <div class="fw-bold pe-4">Cash</div>
      <div>€ 0,00</div>
    </li>
    <li class="d-flex justify-content-end mb-3">
      <div class="fw-bold pe-4">Cash Winnings</div>
      <div>€ 0,00</div>
    </li>
    <li class="d-flex justify-content-end mb-3">
      <div class="fw-bold pe-4">Bonus</div>
      <div>€ 0,00</div>
    </li>
    <li class="d-flex justify-content-end mb-3">
      <div class="fw-bold pe-4">Bonus Winnings</div>
      <div>€ 0,00</div>
    </li>
    <li class="d-flex justify-content-end mb-3">
      <div class="fw-bold pe-4">Bingo Bucks</div>
      <div>€ 0,00</div>
    </li>
    <li class="d-flex justify-content-end">
      <div class="fw-bold pe-4">Available for Withdrawal</div>
      <div>€ 0,00</div>
    </li>
  </ul>
</app-content-box>
