<app-content-box class="box-chat-moderators" title="CHAT MODERATORS">
  <div class="moderators-wrap">
    <ol class="moderators list-unstyled d-flex justify-content-center">
      <li class="moderators-moderator">
        <a class="moderators-moderator-link" href=""></a>
        <div class="moderators-moderator-name fz-31 text-center text-white">
          CM - Babs
        </div>
      </li>
      <li class="moderators-moderator">
        <a class="moderators-moderator-link" href=""></a>
        <div class="moderators-moderator-name fz-31 text-center text-white">
          CM - Sindre
        </div>
      </li>
      <li class="moderators-moderator">
        <a class="moderators-moderator-link" href=""></a>
        <div class="moderators-moderator-name fz-31 text-center text-white">
          CM - Michael
        </div>
      </li>
      <li class="moderators-moderator">
        <a class="moderators-moderator-link" href=""></a>
        <div class="moderators-moderator-name fz-31 text-center text-white">
          CM - Niclas
        </div>
      </li>
      <li class="moderators-moderator">
        <a class="moderators-moderator-link" href=""></a>
        <div class="moderators-moderator-name fz-31 text-center text-white">
          CM - Nadine
        </div>
      </li>
    </ol>
    <hr class="separator" />
    <div class="fz-24 text-white">
      Meet our friendly chat moderators, who will make you feel right at home in
      the bingo rooms. Plus they'll run some fab Chat Games with great prizes to
      be won! Don't miss out..
    </div>
  </div>
</app-content-box>
