<div class="row mt-5 pt-5">
  <div class="col-8">
    <app-content-box
      class="content-box content-box-account w-100"
      headerText="Create a new account with us"
    >
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="fz-24">
        <div formGroupName="userdata" class="mb-4">
          <h3 class="fz-31 fw-bold mb-4">Account Info</h3>
          <div class="row mb-4">
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="username" />
                <mat-error
                  *ngIf="usernameControl?.invalid && usernameControl?.touched"
                >
                  <ng-container *ngIf="usernameControl.hasError('required')">
                    Please fill out this field
                  </ng-container>
                  <ng-container *ngIf="usernameControl.hasError('username')">
                    {{ usernameControl.getError("username") }}
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency">
                  <mat-option
                    *ngFor="let currency of currencies"
                    [value]="currency"
                  >
                    {{ currency }}
                  </mat-option>
                </mat-select>
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.currency')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" />
                <div matSuffix>
                  <mat-icon
                    svgIcon="live-help"
                    aria-hidden="false"
                    aria-label="Password requirements info"
                    #tooltip="matTooltip"
                    matTooltipPosition="above"
                    matTooltip="Your password must contain at least one letter and one digit and may not be the same as your alias."
                  ></mat-icon>
                </div>
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.password')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <h3 class="fz-31 fw-bold mb-4">Personal Info</h3>
          <div class="row mb-4">
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstname" />
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.firstname')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname" />
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.lastname')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>E-Mail</mat-label>
                <input matInput formControlName="email" />
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.email')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Mobile Phone</mat-label>
                <input matInput formControlName="mobilephone" />
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.mobilephone')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-4">
              <mat-form-field appearance="fill" class="d-block">
                <mat-label>Birthday</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="bday"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                  <app-form-error-message
                    [control]="registerForm.get('userdata.bday')"
                  ></app-form-error-message>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <h3 class="fz-31 fw-bold mb-4">Bonus Code</h3>
        <mat-form-field class="d-block mb-3" appearance="fill">
          <mat-label>Bonus Code</mat-label>
          <input matInput formControlName="couponcode" />
        </mat-form-field>

        <h3 class="fz-31 fw-bold mb-4">Settings</h3>
        <div formGroupName="subscription" class="mb-4">
          <div class="mb-4">
            <div class="fw-bold mb-3">Newsletter</div>
            <mat-checkbox formControlName="email"
              >Subscribe to our marketing material via email</mat-checkbox
            >
          </div>
          <div class="fw-bold mb-3">Subscribed to SMS</div>
          <mat-checkbox formControlName="sms"
            >Subscribe to our SMS notifications</mat-checkbox
          >
        </div>
        <div class="mb-5">
          <mat-checkbox formControlName="terms"
            >*I accept the <a href="">Terms and Conditions</a> &
            <a href="">Privacy Policy</a></mat-checkbox
          >
          <app-form-error-message
            class="text-danger"
            [control]="registerForm.get('terms')"
          ></app-form-error-message>
        </div>
        <div class="text-center">
          <button class="btn-clear btn-main py-1 mx-2">
            <span class="btn-main-text">Register</span>
          </button>
        </div>
      </form>
    </app-content-box>
  </div>
  <div class="col-4">
    <app-content-box
      class="content-box-vip mb-5 fz-24 hovercss-float-shadow"
      headerText="Vip"
    >
      1
    </app-content-box>
  </div>
</div>
