<form [formGroup]="depositForm">
  <app-content-box
    [headerText]="'Pay with ' + paymentMethod.name"
    class="mb-5"
    [isFluid]="true"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
  >
    <app-payment-method [paymentMethod]="paymentMethod">
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <mat-select formControlName="amount" *ngIf="paymentMethod.amounts">
          <mat-option
            *ngFor="let amount of paymentMethod.amounts?.items"
            [value]="amount"
          >
            {{ amount }}
          </mat-option>
        </mat-select>
        <input
          matInput
          formControlName="amount"
          *ngIf="!paymentMethod.amounts"
        />
      </mat-form-field>
    </app-payment-method>
  </app-content-box>

  <app-content-box
    [isFluid]="true"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
    class="my-5"
    [headerText]="'Choose a ' + paymentMethod.name + ' Card'"
  >
    <ng-container
      *ngIf="
        getSelectedDepositMethodAccounts$ | async as accounts;
        else noResults
      "
    >
      <div class="text-end mb-4">
        <button
          type="button"
          class="btn-clear btn-main btn-sm py-1 mx-2 min-w-auto"
          (click)="addDepositAccount(paymentMethod)"
        >
          <span class="btn-main-text"
            >Add new {{ paymentMethod.name }} Card</span
          >
        </button>
      </div>
      <table
        mat-table
        aria-describedby="aa"
        [dataSource]="accounts"
        class="mat-elevation-z8 w-100"
      >
        <!-- [fixedLayout]="true" -->
        <!-- select Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-group name="account" formControlName="account">
              <mat-radio-button
                [value]="row"
                (click)="$event.stopPropagation()"
                (change)="selectCard()"
                [attr.aria-label]="checkboxLabel(row)"
                [value]="row"
              ></mat-radio-button>
              <!-- $event, row -->
            </mat-radio-group>
          </td>
        </ng-container>

        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by Number"
          >
            Number
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.masked_accountnumber }}
          </td>
        </ng-container>

        <!-- type Column-->
        <ng-container matColumnDef="type">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by type"
          >
            Type
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.method }}
          </td>
        </ng-container>
        <!-- nameOnCard Column-->
        <ng-container matColumnDef="nameOnCard">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by nameOnCard"
          >
            Name On Card
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.nameoncard }}
          </td>
        </ng-container>
        <!-- Expiry Column-->
        <ng-container matColumnDef="expiry">
          <th
            mat-header-cell
            class="fz-24"
            *matHeaderCellDef
            sortActionDescription="Sort by expiry"
          >
            Expiry
          </th>
          <td class="fz-24" mat-cell *matCellDef="let element">
            {{ element.expmonth | number: "2.0-0" }} / {{ element.expyear }}
          </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
          <th
            mat-header-cell
            class="fz-24 text-end"
            *matHeaderCellDef
            sortActionDescription="Sort by action"
          >
            Action
          </th>
          <td class="fz-24 text-end" mat-cell *matCellDef="let element">
            <button
              type="button"
              class="btn-clear btn-main btn-sm min-w-auto"
              (click)="editCardDetails(paymentMethod, element)"
            >
              <span class="btn-main-text">Edit</span>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="accountField.invalid" class="text-danger">Errorrr</div>
    </ng-container>
    <ng-template #noResults> No Transaction Data </ng-template>
  </app-content-box>

  <app-content-box
    [isFluid]="true"
    headerText="CVV"
    class="mb-5"
    *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
  >
    <div class="row justify-content-center">
      <div class="col-4">
        <mat-form-field class="d-block fz-24 mb-4" appearance="fill">
          <mat-label>CVV</mat-label>
          <input type="number" matInput formControlName="cvv" />
          <mat-hint
            >Enter the 3 digit code from the back of your card.</mat-hint
          >
        </mat-form-field>
        <div class="text-center">
          <button
            type="button"
            class="btn-clear btn-main py-1 mx-2 min-w-auto"
            (click)="submitDeposit(paymentMethod.id)"
          >
            <span class="btn-main-text">Continue</span>
          </button>
        </div>
      </div>
    </div>
  </app-content-box>
</form>

<app-content-box
  [isFluid]="true"
  headerText="Confirm Deposit Details"
  class="mb-5"
  *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
>
  <div class="row justify-content-center fz-24">
    <div class="col-8">
      <form
        [formGroup]="confirmDepositDetailsForm"
        *ngIf="getUserInfo$ | async as user"
        (ngSubmit)="updateUserDetails()"
      >
        <div formGroupName="userdata">
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.firstname; else firstNameField">
                  <dl>
                    <dt class="mb-2">First Name</dt>
                    <dd>{{ user.firstname }}</dd>
                  </dl>
                </ng-container> -->
              <!-- <ng-template #firstNameField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstname" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.lastname; else lastnameField">
                  <dl>
                    <dt class="mb-2">Last Name</dt>
                    <dd>{{ user.lastname }}</dd>
                  </dl>
                </ng-container> -->
              <!-- <ng-template #lastnameField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastname" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
          </div>
          <div class="mb-2">
            <!-- <ng-container *ngIf="user.address; else addressField">
                <div class="fw-bold mb-2">Address</div>
                <address>{{ user.address }}</address>
              </ng-container>
              <ng-template #addressField> -->
            <mat-form-field class="d-block" appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" />
            </mat-form-field>
            <!-- </ng-template> -->
          </div>
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.city; else cityField">
                  <dl>
                    <dt class="mb-2">City</dt>
                    <dd>{{ user.city }}</dd>
                  </dl>
                </ng-container>
                <ng-template #cityField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.state; else stateField">
                  <dl>
                    <dt class="mb-2">State</dt>
                    <dd>{{ user.state }}</dd>
                  </dl>
                </ng-container>
                <ng-template #stateField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.zip; else zipField">
                  <dl>
                    <dt class="mb-2">Zip</dt>
                    <dd>{{ user.zip }}</dd>
                  </dl>
                </ng-container>
                <ng-template #zipField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Zip</mat-label>
                <input matInput formControlName="zip" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.country; else countryField">
                  <dl>
                    <dt class="mb-2">Country</dt>
                    <dd>{{ user.country }}</dd>
                  </dl>
                </ng-container>
                <ng-template #countryField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
          </div>
          <div class="row justify-content-between mb-4">
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.phoneNumbers; else phoneNumberField">
                  <dl>
                    <ng-container *ngFor="let phone of user.phoneNumbers">
                      <dt class="mb-2">Phone Number</dt>
                      <dd>{{ phone.phone }}</dd>
                    </ng-container>
                  </dl>
                </ng-container>
                <ng-template #phoneNumberField> -->
              <mat-form-field class="d-block" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone" />
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
            <div class="col-4 mb-2">
              <!-- <ng-container *ngIf="user.birthdate; else birthdateField">
                  <dl>
                    <dt class="mb-2">Birthdate</dt>
                    <dd>{{ user.birthdate }}</dd>
                  </dl>
                </ng-container>
                <ng-template #birthdateField> -->

              <mat-form-field appearance="fill" class="d-block">
                <mat-label>Birthday</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="birthdate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- </ng-template> -->
            </div>
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn-clear btn-main py-1 mx-2 min-w-auto"
            >
              <span class="btn-main-text">Update Details</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-content-box>

<app-content-box
  [isFluid]="true"
  headerText="Confirm Deposit Details"
  class="mb-5"
  *ngIf="getSelectedDepositMethod$ | async as paymentMethod"
>
  <div class="row justify-content-center fz-24 mb-4">
    <div class="col-8">
      <div class="fz-22">
        <div class="small">
          <p>
            This transaction will appear on your billing statement as FakeOut,
            +46850513501
          </p>
          <p>
            The payment method will be debited immediately once the transaction
            is fully completed.
          </p>
          <p>
            BensCasino always handles customer data in a confidential manner.
          </p>
          <p>
            Please note; It is the sole responsibility of the cardholder to
            observe the national law in their country as they pertain to
            gambling prohibitions.
          </p>
          <p>Gambling may only be enjoyed by adults.</p>
          <p>
            Your invoice will be displayed once the payment process is complete.
            We suggest you print or save a copy of this invoice for your
            records.
          </p>
          <p>
            Payments processing is handled by Technical Consulting and
            Management Services Ltd. (Company Number: 7857267). London, England.
            You can contact us at info@innovusnv.com or phone 020 7193 1099
          </p>
          <p>
            For additional support, please visit our support page:
            <a href="/en/help/">Here</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button
      type="button"
      (click)="confirmDeposit()"
      class="btn-clear btn-main py-1 mx-2 min-w-auto"
    >
      <span class="btn-main-text">Confirm Deposit</span>
    </button>
  </div>
</app-content-box>

<ng-container *ngIf="getDepositReceipt$ | async as depositReceipt">
  <app-content-box
    [isFluid]="true"
    [headerText]="'Deposit ' + depositReceipt.status"
    class="mb-5"
  >
    <!-- <div class="row justify-content-center"> -->
    <!-- <div class="col-8"> -->
    <mat-card *ngIf="getSelectedDepositMethod$ | async as paymentMethod">
      <mat-card-content class="fz-24">
        <div class="row justify-content-between">
          <div class="col-md-3">
            <img
              [src]="
                'https://functionalgames.cdn.bingolab.com/images/common/processors/' +
                paymentMethod.image +
                '.png'
              "
              class="w-100"
              alt="payment method"
            />
            <div
              class="mt-4 pt-3"
              *ngFor="let paymentDetail of paymentMethod.details"
            >
              <dl class="d-flex">
                <dt class="pe-2">Fee:</dt>
                <dd class="mb-0">{{ paymentDetail.fee }}</dd>
              </dl>
              <dl class="d-flex">
                <dt class="pe-2">Minimum:</dt>
                <dd class="mb-0">{{ paymentDetail.min }}</dd>
              </dl>
              <dl class="d-flex">
                <dt class="pe-2">Maximum:</dt>
                <dd class="mb-0">{{ paymentDetail.max }}</dd>
              </dl>
            </div>
          </div>
          <div class="col-md-8">
            <ul class="list-unstyled fz-24">
              <li>
                <dl class="ms-2 me-auto d-flex">
                  <dt class="fw-bold me-3">Time:</dt>
                  <dd>{{ depositReceipt.date | date: "yyy-MM-dd" }}</dd>
                </dl>
              </li>
              <li>
                <dl class="ms-2 me-auto d-flex">
                  <dt class="fw-bold me-3">Deposit Amount:</dt>
                  <dd>
                    {{
                      depositReceipt.amount | currency: depositReceipt.currency
                    }}
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="ms-2 me-auto d-flex">
                  <dt class="fw-bold me-3">Current Balance:</dt>
                  <dd>
                    {{
                      depositReceipt.totalCash
                        | currency: depositReceipt.currency
                    }}
                  </dd>
                </dl>
              </li>
              <li>
                <dl class="ms-2 me-auto d-flex">
                  <dt class="fw-bold me-3">Transaction ID:</dt>
                  <dd>{{ depositReceipt.transactionId }}</dd>
                </dl>
              </li>
              <li>
                <dl class="ms-2 me-auto d-flex">
                  <dt class="fw-bold me-3">Confirmation #:</dt>
                  <dd>{{ depositReceipt.trackId }}</dd>
                </dl>
              </li>
              <li>
                <dl class="ms-2 me-auto d-flex">
                  <dt class="fw-bold me-3">Deposit Status:</dt>
                  <dd class="text-capitalize">
                    {{ depositReceipt.status }}
                  </dd>
                </dl>
              </li>
            </ul>
            <hr class="hr" />
            Please keep this transaction receipt at an easily accessible place
            (you may print or save this page)

            <button
              type="button"
              class="btn-clear btn-main btn-sm py-1 mx-2 min-w-auto mt-3"
              (click)="printReceipt()"
            >
              <span class="btn-main-text">Print Receipt</span>
            </button>
          </div>
        </div>
      </mat-card-content>
      <!-- <mat-card-actions align="end">
          
        </mat-card-actions> -->
    </mat-card>
    <!-- </div> -->
    <!-- </div> -->
  </app-content-box>
</ng-container>
